<header>
    <ng-container *ngIf="!isLoggedIn">
        <div class="header-wrap">
            <div class="container">
                <div class="custom-flex-between">
                    <div class="left-content">
                        <div class="logo-wrapper">
                            <a [routerLink]="['']" class="logo-btn"><img src="../../../../assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="right-content">
                        <a href="javascript:void(0)" class="underline-link-blk" data-bs-toggle="modal"
                            data-bs-target="#signup-modal" (click)="login()"><span>Login</span></a>
                            <a href="javascript:void(0)" class="underline-link-blk" data-bs-toggle="modal"
                            data-bs-target="#signup-modal" (click)="signUp()"><span>Sign Up</span></a>
                        <a [routerLink]="['/help-center']" class="underline-link-blk"><span>Help</span></a>

                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
        <div class="header-wrap">
            <div class="container">
                <div class="custom-flex-between">
                    <div class="left-content">
                        <div class="logo-wrapper">
                            <a [routerLink]="['']" class="logo-btn"><img src="../../../../assets/images/logo.png"
                                    alt=""></a>
                        </div>
                    </div>
                    <div class="center-content">
                        <ng-container *ngIf="app.loggedInUserRole == USER_ROLE.host">
                            <a [routerLink]="['host-dashboard']" class="underline-link-blk" (click)="activeTab=HEADER_TABS.Dashboard" [ngClass]="{'active':activeTab == HEADER_TABS.Dashboard}">
                                <span class="logo-wrapper">
                                    <a class="logo-btn"><img src="../../../../assets/images/dashboard-icon.svg"
                                        alt=""></a>
                                    </span>
                                    Dashboard
                            </a>
                            <a  [routerLink]="['/service-provider/services']" class="underline-link-blk" (click)="activeTab=HEADER_TABS.ServiceProvider" [ngClass]="{'active':activeTab == HEADER_TABS.ServiceProvider}">
                                <span class="logo-wrapper">
                                    <a  class="logo-btn"><img src="../../../../assets/images/provider-icon.svg"
                                        alt=""></a>
                                    </span>
                                    Service Provider
                            </a>
                            <a [routerLink]="['/chat']" class="underline-link-blk" (click)="activeTab=HEADER_TABS.Inbox" [ngClass]="{'active':activeTab == HEADER_TABS.Inbox}">
                                <span class="logo-wrapper">
                                    <a class="logo-btn"><img src="../../../../assets/images/inbox-icon.svg"
                                        alt=""></a>
                                    </span>
                                    Inbox
                                <span class="badge bg-blue" *ngIf="app.unReadChatCount > 0">{{app.unReadChatCount}}</span>
                            </a>
                            <a [routerLink]="['/host/calendar']" class="underline-link-blk" (click)="activeTab=HEADER_TABS.Calendar" [ngClass]="{'active':activeTab == HEADER_TABS.Calendar}">
                                <span class="logo-wrapper">
                                    <a class="logo-btn"><img src="../../../../assets/images/calendar-icon.svg"
                                        alt=""></a>
                                    </span>
                                    Calendar
                            </a>
                            <a [routerLink]="['/host/my-bookings']" class="underline-link-blk" (click)="activeTab=HEADER_TABS.Reservation" [ngClass]="{'active':activeTab == HEADER_TABS.Reservation}">
                                <span class="logo-wrapper">
                                    <a class="logo-btn"><img src="../../../../assets/images/reservation-icon.svg"
                                        alt=""></a>
                                    </span>
                                    Reservation
                            </a>

                            <a [routerLink]="['/host/host-boat-listing']" class="underline-link-blk" (click)="activeTab=HEADER_TABS.Listing" [ngClass]="{'active':activeTab == HEADER_TABS.Listing}">
                                <span class="logo-wrapper">
                                    <a class="logo-btn"><img src="../../../../assets/images/listing-icon.svg"
                                        alt=""></a>
                                    </span>
                                    Listing
                            </a>
                            <div class="dropdown custom-dropdown borderless-dropdown">
                                <button class="dropdown-btn dropdown-toggle blk-clr underline-link-blk" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="logo-wrapper">
                                        <a class="logo-btn"><img src="../../../../assets/images/create-icon.svg"
                                            alt=""></a>
                                    </span>
                                    Create
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" [routerLink]="['/host/boat-add']">Boatel</a></li>
                                 <li><a class="dropdown-item" [routerLink]="['/host/charter-creation']">Charter</a></li>
                                  <li><a class="dropdown-item" [routerLink]="['/host/event-creation']">Event</a></li>
                                </ul>
                              </div>
                        </ng-container>
                    </div>
                    <div class="right-content">
                        <!-- <a [routerLink]="['/my-bookings']" class="custom-btn white grey-btn regular">Host Bookings</a> -->
                        <a (click)="earn()" class="custom-btn white grey-btn regular"
                            *ngIf="userDetails?.roles?.length == 1">Earn With Us</a>
                        <a (click)="switchRole()" class="custom-btn white grey-btn regular"
                            *ngIf="userDetails?.roles?.length > 1">Switch to {{app.loggedInUserRole == USER_ROLE.host ?
                            'User' :'Host'}}</a>
                        <div class="dropdown custom-dropdown" ngbDropdown>
                            <button ngbDropdownToggle class="dropdown-btn dropdown-toggle" type="button"
                                id="dropdownMenuButton1">
                                <img src="{{assetUrlS3 + (userDetails?.imagePath || USER_DEFAULTS.avatar)}}" alt="">
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <p class="header-content small-text">{{userDetails?.name}}</p>
                                </li>
                                <li><a class="dropdown-item" [routerLink]="['/boat-listing/all-reservations']" *ngIf="app.loggedInUserRole == USER_ROLE.user">My Bookings</a></li>
                                <li><a class="dropdown-item" [routerLink]="['/chat']">Messages<span style="float: right;" class="badge bg-blue" *ngIf="app.unReadChatCount > 0">{{app.unReadChatCount}}</span></a></li>
                                <li><a class="dropdown-item" href="#">Notification</a></li>
                                <li><a class="dropdown-item" [routerLink]="['wishlists']" *ngIf="app.loggedInUserRole == USER_ROLE.user">Wishlist</a></li>
                                <li><a class="dropdown-item" href="#">Setting</a></li>
                                <li><a class="dropdown-item" [routerLink]="['/host/settings/wallet']" *ngIf="app.loggedInUserRole == USER_ROLE.host">Wallet</a></li>
                                <li><a class="dropdown-item" [routerLink]="['/payments/billing']" *ngIf="app.loggedInUserRole == USER_ROLE.user">Billings</a></li>
                                <li><a class="dropdown-item" [routerLink]="['/my-profile']" href="#">Profile</a></li>
                                <li><a class="dropdown-item" [routerLink]="['/help-center']">Help</a></li>
                                <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>

                            </ul>
                        </div>
                        <button class="custom-btn btn-mobile"><i class="fa fa-bars"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</header>
<ng-template #earnwithus>
     <div class="modal-content">
        <div class="modal-header no-border">
        </div>

        <div class="modal-body">
          <div class="custom-text-center">
            <h4 class="medium text-left mb-3">Earn With Us</h4>
          <a [ngClass]="{'earn-active': selectedOption.byHost}" (click)="selectedOption.byServiceProvider = false;selectedOption.byHost = !selectedOption.byHost;continueToEarn()" class="custom-card custom-flex-between card-right-img">
              <div class="card-right-img-inside">
                <h6 class="medium p-0 text-start">Become a Host</h6>
                <p class="grey small-tetx my-2 line-clamp-1">Short description about the host Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                </div>
              <img src="../../../../assets/images/host-img-small.png" alt="">

            </a>
              <a [ngClass]="{'earn-active': selectedOption.byServiceProvider}" (click)="selectedOption.byHost = false;selectedOption.byServiceProvider = !selectedOption.byServiceProvider;continueToEarn()" class="custom-card custom-flex-between card-right-img mt-3">
                <div class="card-right-img-inside">
                  <h6 class="medium p-0 text-start">Service Provider</h6>
                  <p class="grey small-tetx my-2 line-clamp-1">Short description about the host Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                  </div>
                <img src="../../../../assets/images/service-provider.png" alt="">
                </a>                
          </div>
        </div>
      </div>
</ng-template>