<div class="main-wrapper">
    <div class="boatel-search ">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 py-2">
                        <p class="small-text">{{charters?.length}} Charters available, {{mapDetails?.departureDate |
                            date:'MMM d'}}, {{mapDetails?.adults + mapDetails?.childrens}} guests</p>
                        <h5 class="bold head-text">Charter in {{this.mapDetails?.departureLoc}}</h5>
                        <div class="custom-filters">
                        </div>
                    </div>
                    <div class="col-sm-4 py-2">

                    </div>
                </div>
                <div class="custom-filters">
                    <div class="dropdown custom-dropdown filters-wrap">
                        <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Price Range
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1"
                            style="width: 400px; font-size: 13px">
                            <div style="margin: 10px; padding: 10px">
                                <div class="custom-input-field">
                                    <div class="custom-flex">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" [value]="null"
                                                [(ngModel)]="charterFilter.isFullBoatCharges">
                                            All
                                        </div>
                                        <div class="form-check ms-5">
                                            <input type="radio" class="form-check-input" [value]="false"
                                                [(ngModel)]="charterFilter.isFullBoatCharges">
                                            Per Person
                                        </div>
                                        <div class="form-check ms-5">
                                            <input type="radio" class="form-check-input" [value]="true"
                                                [(ngModel)]="charterFilter.isFullBoatCharges">
                                            Full Charter
                                        </div>
                                    </div>
                                </div>
                                <span style="font-weight: bold; padding: 10px">
                                    Set the price range:</span>
                                <div style="display: flex">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="minPrice" placeholder="min price"
                                            [(ngModel)]="charterFilter.minPrice" />
                                        <label for="floatingPassword">min price</label>
                                    </div>
                                    <div style="
                                position: relative;
                                top: -19px;
                                color: gray;
                                font-size: 50px;
                                font-weight: 200;
                                padding: 12px;
                                margin-bottom: -20px;
                              ">
                                        -
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" class="form-control" [(ngModel)]="charterFilter.maxPrice"
                                            id="maxPrice" placeholder="max price" />
                                        <label for="floatingPassword">max price</label>
                                    </div>
                                </div>
                                <!-- <div>
                            <a style="
                                float: left;
                                cursor: pointer;
                              " (click)="reset()">
                              Reset
                            </a>
                          </div> -->
                                <div>
                                    <a class="custom-btn blue" style="
                                float: right;
                                font-size: 12px;
                                min-width: 76px !important;
                                cursor: pointer;
                              " (click)="applyFilter()">
                                        Save
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown custom-dropdown filters-wrap">
                        <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Charter Type
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <form>
                                <div class="row p-4">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" [value]="null" id="allCharter"
                                                [(ngModel)]="charterFilter.isRoundTrip"
                                                [ngModelOptions]="{standalone: true}">
                                            <label for="allCharter">All</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" [value]="false" id="oneSide"
                                                [(ngModel)]="charterFilter.isRoundTrip"
                                                [ngModelOptions]="{standalone: true}">
                                            <label for="oneSide">One Side Trip</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="radio" id="roundTrip" class="form-check-input" [value]="true"
                                                [(ngModel)]="charterFilter.isRoundTrip"
                                                [ngModelOptions]="{standalone: true}">
                                            <label for="roundTrip">Round Trip</label>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a class="custom-btn blue" style="
                                    float: right;
                                    font-size: 12px;
                                    min-width: 76px !important;
                                    cursor: pointer;" (click)="applyFilter()">
                                        Save
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="dropdown custom-dropdown filters-wrap">
                        <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false" (click)="openModal(filterTemplate)">
                            More Filter
                        </button>
                    </div>
                    <!-- <div class="dropdown custom-dropdown filters-wrap" *ngIf="isFilterAdded">
                      <button type="button" class="btn btn-link" (click)="reset()">Reset</button>
                    </div>
                  </div> -->
                </div>
            </div>
        </div>

        <div class="bg-grey">
            <div class="section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 py-2">
                            <p class="small-mini-text grey white-bg-card"><span class="circle-icon"><i
                                        class="fa fa-info"></i></span>Given List is based on distance from the selected
                                location, covers 50 miles from the selected location.</p>
                            <div class="boatel-search-card" *ngFor="let item of charters">
                                <div class="row h-100">
                                    <div class="col-sm-5 pr-0">
                                        <div class=""
                                            *ngFor="let gallery of (item?.boat?.boatGalleries | filterBy : 'isCoverPic' : true)">
                                            <!-- <img src="../../../assets/images/ships-img.png" alt=""> -->
                                            <img src="{{assetsUrl + gallery?.imagePath}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="boatel-search-card-content">
                                            <div class="boatel-search-card-content-title">
                                                <a [routerLink]="['/boat-listing/charter-details',item.id]"
                                                    class="underline-black-link p-0">{{item?.boat?.name}}</a>
                                                <button
                                                    (click)="item?.isAddedToMyWishlist ? removeToWishList(item): addToWishList(item)"
                                                    class="fav-btn"><i class="fa"
                                                        [ngClass]="{'fa-heart-o': !item?.isAddedToMyWishlist , 'fa-heart':item?.isAddedToMyWishlist}"></i></button>
                                            </div>
                                            <p class="grey">Boat Capacity:{{item?.guestCapacity}} Guests -
                                                Available:{{item?.guestCapacity}}</p>
                                            <p class="grey">Departing: {{item?.departingFrom}}</p>
                                            <p class="grey">Destination: {{item?.destination }}</p>
                                            <p class="grey">Round Tripe: {{item?.isRoundTrip ? 'Yes':'No'}}</p>
                                            <p class="grey">Date: {{item?.departureFromDate | date:'dd-MMM-YYYY' }}</p>
                                            <div class="custom-flex-between">
                                                <ngb-rating [rate]="0"></ngb-rating>
                                                <p class="bold-span-text"><span>$ {{item.charterFee}}</span>/
                                                    {{item.isFullBoatCharges ? 'Boat':'Person'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 py-2">
                            <div class="iframe-wrapper">
                                <google-map height="560px" width="600px" [options]="mapOptions" [center]="center"
                                    [zoom]="zoom">
                                    <map-marker #markerr="mapMarker" *ngFor="let marker of markers"
                                        [position]="marker.position" [label]="marker.label" [title]="marker.title"
                                        [options]="marker.options" (mapClick)="openInfoWindow(markerr,marker)">
                                    </map-marker>
                                    <map-info-window>
                                        <div class="boatel-search-card">
                                            <div class="row m-0">
                                                <div class="col-sm-5 pr-0">
                                                    <div class="boatel-search-card-img"
                                                        *ngFor="let gallery of (mapInfoDetails?.boat?.boatGalleries | filterBy : 'isCoverPic' : true)">
                                                        <!-- <img src="../../../assets/images/ships-img.png" alt=""> -->
                                                        <img src="{{assetsUrl + gallery?.imagePath}}">
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="boatel-search-card-content">
                                                        <div class="boatel-search-card-content-title">
                                                            <a [routerLink]="['/boat-listing/charter-details',mapInfoDetails?.id]"
                                                                class="underline-black-link p-0">{{mapInfoDetails?.boat.name}}</a>
                                                            <!-- <a href="javascript:void(0)"  class="fav-btn"><i class="fa fa-heart-o"></i></a> -->
                                                        </div>
                                                        <p class="grey">Guests:{{mapInfoDetails?.guestCapacity}}<br>
                                                            Departure From :{{mapInfoDetails?.departingFrom}} <br>
                                                            Destination : {{mapInfoDetails?.destination}} <br>
                                                            Round Tripe: {{mapInfoDetails?.isRoundTrip ? 'Yes':'No'}} <br>
                                                           Departure Date: {{mapInfoDetails?.departureFromDate | date:'dd-MMM-YYYY' }}<br>
                                                        </p>
                                                        <div class="boatel-search-card-content-title">

                                                        </div>
                                                        <div class="custom-flex-between">
                                                            <ngb-rating [rate]="0"></ngb-rating>
                                                            <!-- <p class="bold-span-text"><span>$ {{mapInfoDetails?.perDayCharges}}</span>/ Night</p> -->
                                                        </div>
                                                        <div class="pt-2 boatel-search-card-content-title">
                                                            <p class="bold-span-text"><span>$
                                                                    {{mapInfoDetails?.charterFee}}</span>/
                                                                {{mapInfoDetails?.isFullBoatCharges ? 'Boat':'Person'}}
                                                            </p>
                                                            <button
                                                                (click)="mapInfoDetails?.isAddedToMyWishlist ? removeToWishList(mapInfoDetails): addToWishList(mapInfoDetails)"
                                                                class="fav-btn"><i class="fa"
                                                                    [ngClass]="{'fa-heart-o': !mapInfoDetails?.isAddedToMyWishlist , 'fa-heart':mapInfoDetails?.isAddedToMyWishlist}"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </map-info-window>
                                </google-map>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #filterTemplate>
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body" style="font-size: 0.8em !important">
                <div class="custom-text-center">
                    <h5 class="bold">More Filters</h5>
                    <h6 class="bold text-left">Bedrooms</h6>
                    <div class="custom-flex-between py-2">
                        <p>Number of Bedrooms</p>
                        <div class="boatel-counter">
                            <div class="center container">
                                <div class="counter-button">
                                    <button id="minus-btn" (click)="decrement(true)">
                                        -
                                    </button>
                                </div>
                                <div class="number">
                                    <input style="width: 10px" [(ngModel)]="moreFilters.bedrooms" />
                                </div>
                                <div class="counter-button">
                                    <button id="plus-btn" (click)="increment(true)">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-flex-between py-2">
                        <p>Bathrooms</p>
                        <div class="boatel-counter">
                            <div class="center container">
                                <div class="counter-button">
                                    <button id="minus-btn" (click)="decrement(false)">
                                        -
                                    </button>
                                </div>
                                <div class="number">
                                    <input style="width: 10px" [(ngModel)]="moreFilters.bathrooms">
                                </div>
                                <div class="counter-button">
                                    <button id="plus-btn" (click)="increment(false)">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="amenties-wrapper">
                        <h6 class="bold text-left">Amenities</h6>
                        <div class="row">
                            <div class="col-sm-6 py-2">
                                <label class="custom-checkbox my-4" *ngFor="let item of defaultFeatures; let i = index">
                                    <div *ngIf="i % 2 == 0">
                                        <input type="checkbox" [(ngModel)]="item.isChecked"
                                            [ngModelOptions]="{standalone: true}" />
                                        <p class="small-text">{{ item.name }}</p>
                                        <span class="checkmark"></span>
                                    </div>
                                </label>
                            </div>
                            <div class="col-sm-6 py-2">
                                <label class="custom-checkbox my-4" *ngFor="let item of defaultFeatures; let i = index">
                                    <div *ngIf="i % 2 != 0">
                                        <input type="checkbox" [(ngModel)]="item.isChecked"
                                            [ngModelOptions]="{standalone: true}" />
                                        <p class="small-text">{{ item.name }}</p>
                                        <span class="checkmark"></span>
                                    </div>
                                </label>
                            </div>
                            <div class="col-sm-12 pt-4">
                                <button class="custom-btn blue" (click)="applyAdditionalFilters()"
                                    data-bs-dismiss="modal">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>