<div class="main-wrapper">
    <div class="reservation-page section-padding charter-cancelation">
        <div class="container">

            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="btn-back">
                        <a (click)="goBack()" style="border: 1px solid #004FC4;">
                            <i class="fas fa-chevron-left" style="color:#004FC4"></i>
                        </a>
                        <h2 class="bold pb-3">{{'ReservationCancellation' | localization}}</h2>
                    </div>
                    <label class="medium">{{ 'CancelReason'| localization}}</label>
                    <div class="custom-input-field">
                        <textarea class="custom-input" id="exampleFormControlTextarea1" rows="4" [(ngModel)]="Reason"
                            required></textarea>
                    </div>
                    <div class="price-detail py-4">
                        <h5 class="bold pt-3 pb-1">{{'RefundDetailtxt' | localization}}</h5>
                        <div class="custom-flex-between">
                            <p>{{bookingCancelDetail?.boatDetail?.perDayCharges}} x {{ bookingCancelDetail?.TotalDays}} Night</p>
                            <p class=" text-right py-1">{{bookingCancelDetail?.boatDetail?.perDayCharges * bookingCancelDetail?.TotalDays }}.00 $</p>
                        </div>
                        <div class="custom-flex-between">
                            <p>{{'ServiceFee' | localization}}</p>
                            <p class=" text-right py-1">20 $</p>
                        </div>
                        <div class="custom-flex-between">
                            <p>{{'TaxFee' | localization}}</p>
                            <p class=" text-right py-1">{{bookingCancelDetail?.boatDetail?.taxFee}}.00 $</p>
                        </div>
                        <div class="custom-flex-between">
                            <p> {{'Total(USD)' | localization}}</p>
                            <p class=" text-right py-1">{{(bookingCancelDetail?.boatDetail?.perDayCharges * bookingCancelDetail?.TotalDays) + 20 +
                                bookingCancelDetail?.boatDetail?.taxFee}}.00 $</p>
                        </div>
                        <div class="border-top my-3"></div>
                        <div class="custom-flex-between">
                            <p class="medium"> {{'DeductedAmount(USD)' | localization}}</p>
                            <p class="text-right py-1">{{bookingCancelDetail?.deductedAmount}}.00 $</p>
                        </div>
                        <div class="custom-flex-between">
                            <p class="medium"> {{'RefundableAmount(USD)' | localization}}</p>
                            <p class="text-right py-1">{{bookingCancelDetail?.totalAmount}}.00 $</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="price-detail pb-4">
                        <h5 class="bold py-2"> {{'ReservationDetails' | localization}}</h5>
                        <div class="custom-flex-start">
                            <p class="medium"> {{'BoatName' | localization}}:</p>
                            <p class="grey text-right py-1">{{bookingCancelDetail?.boatDetail?.name}}</p>
                        </div>
                        <div class="custom-flex-start">
                            <p class="medium">{{'CheckInDate' | localization}}</p>
                            <p class="grey text-right py-1">{{((bookingCancelDetail?.isContract) ? (bookingCancelDetail?.serviceType == bookedServicesTypes.event ? bookingCancelDetail?.eventDateTime : bookingCancelDetail?.departureDate)  : bookingCancelDetail?.checkinDate) | date}}</p>
                        </div>
                        <ng-container *ngIf="bookingCancelDetail?.serviceType != bookedServicesTypes.event && bookingCancelDetail?.isContract">
                            <div class="custom-flex-start">
                                <p class="medium">{{'CheckOutDate' | localization}}</p>
                                <p class="grey text-right py-1">{{  bookingCancelDetail?.serviceType != bookedServicesTypes.charter ? bookingCancelDetail?.checkoutDate : bookingCancelDetail?.arrivalDate | date}}</p>
                            </div>
                        </ng-container>
                        <div class="custom-flex-start">
                            <p class="medium">{{'NoofGuest' | localization}}</p>
                            <ng-container *ngIf="bookingCancelDetail?.serviceType != bookedServicesTypes.event && !bookingCancelDetail?.isContract; else contractEventsGuests">
                                <p class="grey text-right py-1">{{bookingCancelDetail?.noOfAdults + bookingCancelDetail?.noOfChildrens}}</p>
                            </ng-container>
                            <ng-template #contractEventsGuests>
                                <p class="grey text-right py-1">{{bookingCancelDetail?.noOfGuests}}</p>
                            </ng-template>
                        </div>
                        <div class="custom-flex-start">
                            <p class="medium">{{'Location' | localization}}</p>
                            <p class="grey text-right py-1">{{bookingCancelDetail?.boatDetail?.location}}</p>
                        </div>
                        <div class="custom-flex-start">
                            <p class="medium">{{'CheckInTime' | localization}}</p>
                            <p class="grey text-right py-1">{{bookingCancelDetail?.boatDetail?.checkinTime | date:'h:mm a' }}</p>
                        </div>
                        <ng-container *ngIf="bookingCancelDetail?.serviceType != bookedServicesTypes.event && bookingCancelDetail?.isContract">
                            <div class="custom-flex-start">
                                <p class="medium">{{'CheckOutTime' | localization}}</p>
                                <p class="grey text-right py-1">{{bookingCancelDetail?.boatDetail?.checkoutTime | date:'h:mm a'}}</p>
                            </div>
                            </ng-container>

                        <div class="custom-flex-start">
                            <p class="medium">{{'Bedroom' | localization}}:</p>
                            <p class="grey text-right py-1">{{bookingCancelDetail?.boatDetail?.totalBedrooms}}</p>
                        </div>
                        <div class="custom-flex-start">
                            <p class="medium">{{'Bathroom' | localization}}</p>
                            <p class="grey text-right py-1">{{bookingCancelDetail?.boatDetail?.totalWashrooms}}</p>
                        </div>
                        <div class="custom-margin" *ngIf="!isHost">
                            <h5 class="bold mb-1">{{'CancellationPolicy' | localization}}</h5>
                            <p class="small-text text-left">{{'CancellationDeductionOnPayments' | localization}}
                            </p>
                            <ul class="custom-ul">
                                <li>
                                    <p>{{'CancellationDeductionPolicy1' | localization}}</p>
                                </li>
                                <li>
                                    <p>{{'CancellationDeductionPolicy2' | localization}}</p>
                                </li>
                                <li>
                                    <p>{{'CancellationDeductionPolicy3' | localization}}</p>
                                </li>
                                <li>
                                    <p>{{'CancellationDeductionPolicy4' | localization}}</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 custom-margin text-center mobile-padding-btns" *ngIf="bookingCancelDetail?.bookingStatus != BOOKING_STATUS.Rejected && bookingCancelDetail?.bookingStatus != BOOKING_STATUS.Cancel">
                <div class="center-content">
                    <button class="custom-btn btn-big  outline-blue-clr me-sm-3" (click)="goBack()"> {{'changeMind' | localization}}</button>&nbsp;&nbsp;
                    <a class="custom-btn btn-big blue" style="cursor: pointer;"  *ngIf='!isHost' (click)="openModal(template,bookingCancelDetail)">{{'ConfirmCancellation' | localization}}</a>
                    <a class="custom-btn btn-big  blue" style="cursor: pointer;" *ngIf='isHost' (click)="openModal(hosttemplate,bookingCancelDetail)">{{'ConfirmCancellation' | localization}}</a>
                    <a (click)="addReview(bookingCancelDetail?.boatDetail.id)" *ngIf='isHost && !isPosted && isBookingPassed()' style="cursor: pointer;margin-left: 1%;" class="custom-btn btn-big blue">
                         {{'AddReview' | localization}}</a>
                </div>
            </div>
            <app-list-reviews [bookingId]=bkCancel></app-list-reviews>
        </div>
    </div>
    <!--Cancelation Policy Modal -->
    <ng-template #template>

        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="custom-text-center">
                    <h4 class="bold text-center">{{'CancellationPolicy' | localization}}</h4>
                    <div class="py-2">
                        <p class="small-text text-left">{{'CancellationDeductionOnPayments' | localization}}
                        </p>
                        <ul class="custom-ul">
                            <li>
                                <p>{{'CancellationDeductionPolicy1' | localization}}</p>
                            </li>
                            <li>
                                <p>{{'CancellationDeductionPolicy2' | localization}}</p>
                            </li>
                            <li>
                                <p>{{'CancellationDeductionPolicy3' | localization}}</p>
                            </li>
                            <li>
                                <p>{{'CancellationDeductionPolicy4' | localization}}</p>
                            </li>

                        </ul>
                        <p><strong>{{'ConfirmCancelation' | localization}}</strong></p>
                    </div>
                    <div class="py-4 text-center">
                        <button (click)="cancelpopup()" class="custom-btn big-btn outline-blue-clr me-sm-3"
                            data-bs-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#cancellation-confirmed">{{'Cancel' | localization}}</button>&nbsp;
                        <button class="custom-btn blue big-btn" (click)="confirmCancel()">{{'Confirm' | localization}}</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

     <!--Host Cancelation Modal -->
     <ng-template #hosttemplate>

        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="custom-text-center">
                    <h5 class="bold text-center"> {{'ConfirmationMessage' | localization}}</h5>
                    <div class="py-4 text-center">
                        <a (click)="cancelpopup()" class="custom-btn big-btn outline-blue-clr me-sm-3"
                            data-bs-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#cancellation-confirmed"> {{'Cancel' | localization}}</a>&nbsp;
                        <button class="custom-btn blue big-btn" style="cursor: pointer;" (click)="confirmCancel()"> {{'Confirm' | localization}}</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <!--Booking Detail Not Available-->
    <ng-template #bookingstatus>
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="custom-text-center">
                    <h4 class="bold text-center">{{'InvalidCharterBooking' | localization}} </h4>

                    <div class="text-center">
                        <img src="assets/images/cross-icon.png" style="height: 100px;width:100px" alt="">
                    </div>
                    <div class="bottom-btn text-center">
                        <button class="custom-btn blue big-btn mt-3" (click)="goBack()">{{'BackHome' | localization}}</button>
                    </div>
                </div>
            </div>

        </div>

    </ng-template>
    <ng-template #bookingcancelled>
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="custom-text-center">
                    <h4 class="bold text-center">{{'BookingCancelledConfirm' | localization}}</h4>

                    <div class="text-center">
                        <img src="assets/images/password-updated.png" alt="">
                    </div>
                    <div class="bottom-btn text-center">
                        <button class="custom-btn blue big-btn mt-3" (click)="goBack()">{{'BackHome' | localization}}</button>
                    </div>
                </div>
            </div>

        </div>

    </ng-template>

</div>