<div class="main-wrapper">
  <div class="container">
      <div class="row custom-margin">
          <div class="col-sm-12">
              <div class="custom-filters py-2 big-filter">
                  <div class="dropdown custom-dropdown filters-wrap">
                      <h3 class="medium">
                      {{'RevenueOverview' | localization}}
                      </h3>
                      
                  </div>
              </div>
          </div>
       
      </div>
      <div class="custom-host-card-wrapper custom-margin">
      <div class="row m-0">
        <div class="col-sm-3 py-2">
          <div class="custom-card-link no-link">
            <div class="custom-smart-card">
              <div class="custom-flex-between">
                  <p class="medium">{{'PendingContract' | localization}}</p>
              </div>
              <div class="custom-flex py-4">
                  <h2 class="medium">500</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 py-2">
          <div class="custom-card-link no-link">
            <div class="custom-smart-card">
              <div class="custom-flex-between">
                  <p class="medium">{{'ApprovedContract' | localization}}</p>
              </div>
              <div class="custom-flex py-4">
                  <h2 class="medium">500</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 py-2">
          <div class="custom-card-link no-link">
            <div class="custom-smart-card">
              <div class="custom-flex-between">
                  <p class="medium">{{'Revenue' | localization}}</p>
              </div>
              <div class="custom-flex py-4">
                  <h2 class="medium">$500</h2>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      </div>
      
     <app-upcoming-events></app-upcoming-events>
     <app-contact-list></app-contact-list>
  </div>
  </div>
