<section class="request-quote-sec section-padding card shadow  rounded">
    <div class="container card-body">
        <div class="row">
            <div class="col-md-7">
                <div class="w-100">
                    <div class="form-group has-search">
                        <label class="customLbl">Country/Region</label>
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search Location"
                            ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"
                            [(ngModel)]="searchParam.location">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 py-2" *ngIf="officesList?.length > 0">
                <small class="customLbl">{{officesList?.length}} Search Results Found.</small>
                <div class="iframe-wrapper">
                  <google-map height="560px" width="100%" [options]="mapOptions" [center]="center" [zoom]="zoom">
                    <map-marker #markerr="mapMarker" *ngFor="let marker of markers" [position]="marker.position"
                    [label]="marker.label" [title]="marker.title" [options]="marker.options">
                  </map-marker>
                  </google-map>
                </div>
              </div>
        </div>
    </div>
</section>