<div class="main-wrapper">
  <div class="reservation-page section-padding">
    <div class="container">

      <div class="nav nav-pills custom-tabs-btns" id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <button class="underline-link-blk" id="v-pills-profile-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
          aria-selected="false"><strong>Booked Services</strong></button>
      </div>
      <div>
        <div class="row pb-4">
            <div class="col-4">
              <button class="btn btn-filter btn-sm" (click)="upcomingReservation()" >Upcoming</button>&nbsp;&nbsp;
              <button class="btn btn-filter btn-sm" (click)="pastReservation()">Past</button>
            </div>
          </div>
        <div class="filter-wrap mb-3 custom-flex-start">
          <div class="calendar">                
            <input type="month" [(ngModel)]="modelDate" (ngModelChange)="applyDateFilter()" id="start"  placeholder="Year,Month" name="date" >                
        </div>
        </div>
        <div class="custom-card req-user-card" *ngFor="let item of booking" >
         <div [routerLink]="['/boat-listing/reservation-detail',item.id]">
          <div class="image-with-text custom-flex-between align-items-start">
            <div class="image-with-text-inner">
              <div *ngFor="let imgs of item?.boatDetail.boatGalleries | filterBy : 'isCoverPic':true">

              <img src="{{assetsUrl + imgs?.imagePath}}" class="card-img-top"
              alt="...">
            </div>
              <div class="user-details">
                <p class="medium">{{item?.boatDetail.name}}<span class="small-text regular grey"> </span></p>
                <ngb-rating [rate]="0"></ngb-rating>
                <p class="small-text grey ">Location :{{item?.boatDetail.location}} </p>
                <p class="small-text grey ">Guest: {{item.noOfAdults + item.noOfChildrens}}</p>

              </div>
            </div>
            <div class="center-content custom-flex flex-column align-items-end">


            </div>

            <div class="right-content custom-flex flex-column align-items-end">
              <p class="small-text grey">{{item.checkinDate | date}} - {{item.checkoutDate | date}}</p>
              <div class="custom-flex mt-4 mr-3">
                <span *ngIf="item.bookingStatus==0"><strong >{{item.bookingStatus==0 ? 'Pending' : ''}}</strong></span>
                <span *ngIf="item.bookingStatus==1"><strong >{{item.bookingStatus==1 ? 'Approved' : ''}}</strong></span>
                <span *ngIf="item.bookingStatus==2"><strong >{{item.bookingStatus==2 ? 'Rejected' : ''}}</strong></span>
                <span *ngIf="item.bookingStatus==3"><strong >{{item.bookingStatus==3 ? 'Cancelled' : ''}}</strong></span>
              </div>


            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isRecordNotFound">
        <p>No Record Found</p>
     </div>


      </div>



    </div>
  </div>
</div>