<div class="main-wrapper">
  <div class="reservation-page section-padding">
    <div class="container">

      <div class="nav nav-pills custom-tabs-btns" id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <button class="underline-link-blk" id="v-pills-profile-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
          aria-selected="false"><strong>Booked Services</strong></button>
      </div>
      <div>

        <div>
          <div class="row">
            <div class="col-12">

                <button (click)="activeTab = 0" class="underline-link-blk px-4" [ngClass]="{'active':activeTab == 0 }">
                    <span>
                        Boatel
                    </span>
                </button>
                <button (click)="activeTab = 1" class="underline-link-blk px-4" [ngClass]="{'active':activeTab == 1}">
                    <span>
                        Charters
                    </span>
                </button>
                <button (click)="activeTab = 2" class="underline-link-blk px-4" [ngClass]="{'active':activeTab == 2}">
                    <span>
                        Events
                    </span>
                </button>
            </div>
        </div>

      </div>
      <div  *ngIf="activeTab == 0">
        <app-boat-reservation-listing></app-boat-reservation-listing>
        </div>
       <div  *ngIf="activeTab == 1">
        <app-charter-reservation-listing></app-charter-reservation-listing>
        </div>
        <div *ngIf="activeTab == 2">
          <app-event-reservation-listing></app-event-reservation-listing>
          </div>





      </div>
    </div>
  </div>


</div>