.custom-btn {   
    &:hover{
    cursor:pointer;}
}
.custom-card{
    &:hover{
        cursor:pointer;
    }
}
.earn-active{
    border:1px solid #004FC4;
}
.cstmmrgn{
    margin-left: 50px;

}
.cstmcntn{
margin-right: 60%;
}