header{
    position: relative;
    z-index: 999;
   @include custom-shadow;
    .header-top-bar{
        .header-bg-blue{
            padding: 5px 0;
            text-align: center;
            @include breakpoint(sm){
                padding: 5px 15px;
            }
        }
        .header-grey-clr{
            padding: 5px 0;
            text-align: center;
            @include breakpoint(sm){
                padding: 5px 15px;
            }
        }
        p{
            font-size: 12px !important;
        }
    }
    .header-wrap{
        padding:5px 0;
        background: $white-color;
        @include breakpoint(sm){
            padding: 10px 0;
        }
        .logo-wrapper{
            .logo-btn{
                img{
                    max-width: 60px;
                    @include breakpoint(laptop){
                        max-width: 55px;
                    }
                }
            }
        }
        .underline-link-blk{
            padding:16px 10px;
            @include breakpoint(laptop){
                padding:8px 2px;
                font-size: 12px;
            }
            @include breakpoint(lg){
                padding:8px 2px;
                font-size: 10px;
            }
            &::before{
                bottom: -5px;
                height: 4px;
                @include breakpoint(laptop){
                    bottom: -10px;
                }
                @include breakpoint(lg){
                    bottom: -12px;
                }
                @include breakpoint(sm){
                    bottom: -17px;
                    height: 2px;
                } 
                @include breakpoint(xs){
                    bottom: -16px;
                } 
            }
            .badge{
                position: absolute;
                top: -5px;
                right: 0px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                @include breakpoint(laptop){
                    width: 20px;
                    height:20px;
                    font-size: 8px;
                }
            }
            img{
                @include breakpoint(laptop){
                max-width: 16px !important;
                } 
            }
            @include breakpoint(sm){
                padding: 5px 10px;
            }
            @include breakpoint(xs){
                padding: 5px;
            }
        }
    }
    .right-content{
        @include custom-flex-start;
        >.custom-btn {
            font-size: 16px;
            font-weight: 600;
            padding: 8px 20px;
            @include breakpoint(laptop){
                font-size: 14px;
                padding: 6px 20px;
            }
            @include breakpoint(laptop) {
            font-size: 12px;
            padding: 6px 14px;
            }
            &.white{
                &.grey-btn {
                    @include breakpoint(sm){
                        min-width: 140px;
                    }
                    @include breakpoint(xs){
                        min-width: auto;
                    }
                }
            }
        }
    button{
        margin: 0 5px;
    }
    a{
        margin: 0 5px;
    }
    .custom-btn {
            @include breakpoint(xs){
                padding: 6px 10px;
            }
    }
    }
    .center-content{
        @include custom-flex-start;
        
        @include breakpoint(md){
            display: none;
        }
        @include breakpoint(sm){
            display: none;
        }
        &.active-mobile{
            @include breakpoint(md){
                position: fixed;
                left: 0;
                top: 0;
                right:0;
                bottom: 0;
                background: $new-black-color;
                @include custom-flex-start;
                flex-direction: column;
                color: $white-color;
                z-index: 1;
                padding: 50px 20px;
                overflow-y: scroll;
            }
            @include breakpoint(sm){
                position: fixed;
                left: 0;
                top: 0;
                right:0;
                bottom: 0;
                background: $new-black-color;
                @include custom-flex-start;
                flex-direction: column;
                color: $white-color;
                z-index: 1;
                padding: 50px 20px;
                overflow-y: scroll;
            }
            a{
                @include breakpoint(md){
                    color: $white-color !important;
                    margin: 10px 0;
                    display: inline-block;
                }
                @include breakpoint(sm){
                    color: $white-color !important;
                    margin: 10px 0;
                    display: inline-block;
                }
                &::before{
                    @include breakpoint(md){
                        background: $white-color !important;
                      bottom: -10px;
                    }
                    @include breakpoint(sm){
                        background: $white-color !important;
                        bottom: -10px;
                    }
                }
                svg{
                    @include breakpoint(md){
                        fill: $white-color;
                    }
                    @include breakpoint(sm){
                        fill: $white-color;
                    }
                        path{
                            @include breakpoint(md){
                                fill: $white-color;
                            }
                            @include breakpoint(sm){
                                fill: $white-color;
                            }
                        }
                        text{
                            @include breakpoint(md){
                                fill: $white-color;
                            }
                            @include breakpoint(sm){
                                fill: $white-color;
                            }
                        }
                
                }
               
            }
            .blk-clr {
                @include breakpoint(md){
                    color: $white-color !important;
                }
                @include breakpoint(sm){
                    color: $white-color !important;
                }
                &::before{
                    @include breakpoint(md){
                        background: $white-color !important;
                    }
                    @include breakpoint(sm){
                        background: $white-color !important;
                    }
                }
                svg{
                    @include breakpoint(md){
                        fill: $white-color;
                    }
                    @include breakpoint(sm){
                        fill: $white-color;
                    }
                        path{
                            @include breakpoint(md){
                                fill: $white-color;
                            }
                            @include breakpoint(sm){
                                fill: $white-color;
                            }
                        }
                        text{
                            @include breakpoint(md){
                                fill: $white-color;
                            }
                            @include breakpoint(sm){
                                fill: $white-color;
                            }
                        }
                
                }
            }
            .dropdown-item{
                @include breakpoint(md){
                    color: $black-color !important;
                }
                @include breakpoint(sm){
                    color: $black-color !important;
                }
                
            }
        }
    button{
        margin: 0 5px;
    }
    a{
        margin: 0 4px;
       
    }
    .underline-link-blk {
        &::before{
            bottom: -7px;
            @include breakpoint(laptop){
                bottom: -11px;
            }
            @include breakpoint(lg){
                bottom: -14px;
            }
           
        }
    }
    .custom-dropdown{
        .dropdown-btn{
            position: relative;
            &::after{
                content: "\f0d7";
                font-family: "FontAwesome";
                position: absolute;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
                color: $new-black-color;
                border: none;
                
            }
        }
    }
    }
    .underline-link-blk{
        svg{
            width: 28px;
            height: 28px;
            margin-right: 5px;
            @include breakpoint(laptop){
                width: 22px;
                height: 22px;
            }
            @include breakpoint(lg){
                width: 17px;
                height: 17px;
            }
        }
        &.active{
            svg{
                fill: $brand-secondary-color;
                path{
                
                    fill: $brand-secondary-color;
                }
                text{
                    fill: $brand-secondary-color;
                }
            }
            &::before{ 
                width:100%;
            }
        }
        &:hover{
            svg{
                fill: $brand-secondary-color;
                path{
                
                    fill: $brand-secondary-color;
                }
                
                text{
                    fill: $brand-secondary-color;
                }
            }
            &::before{ 
                width:100%;
            }
        }
    }
}