<div class="col-12">
    <div class="custom-card req-user-card" *ngFor="let item of userEvents">
      <div [routerLink]="['/boat-listing/event-reservation-detail',item.eventId]">
        <div class="image-with-text custom-flex-between align-items-start">
          <div class="image-with-text-inner">
            <div *ngFor="let imgs of item?.boatDetail?.boatGalleries | filterBy : 'isCoverPic':true">

              <img src="{{assetsUrl + imgs?.imagePath}}" class="card-img-top" alt="...">
            </div>
            <div class="user-details">
              <p class="medium">{{item?.boatDetail?.name}}<span class="small-text regular grey"> </span></p>
              <ngb-rating [rate]="0"></ngb-rating>
              <p class="small-text grey ">Event Title : {{item?.eventDetail?.title}}</p>
              <p class="small-text grey ">Location : {{item?.eventDetail?.location}}</p>
              <p class="small-text grey ">Guest: {{item?.noOfGuests}}</p>
            </div>
          </div>
          <div class="right-content custom-flex flex-column align-items-end">
            <p class="small-text grey">{{item?.eventDetail?.startDateTime | date}} - {{item?.eventDetail?.startDateTime | date}}</p>
            <div class="custom-flex mt-4 mr-3">
              <span *ngIf="item.bookingStatus==0"><strong>{{item.bookingStatus==0 ? 'Pending' :
                  ''}}</strong></span>
              <span *ngIf="item.bookingStatus==1"><strong>{{item.bookingStatus==1 ? 'Approved' :
                  ''}}</strong></span>
              <span *ngIf="item.bookingStatus==2"><strong>{{item.bookingStatus==2 ? 'Rejected' :
                  ''}}</strong></span>
              <span *ngIf="item.bookingStatus==3"><strong>{{item.bookingStatus==3 ? 'Cancelled' :
                  ''}}</strong></span>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
<div *ngIf="userEvents?.length == 0">
    <app-not-found-component></app-not-found-component>
</div>
<div class="col-12 pt-2" *ngIf="userEvents?.length > 0">
    <app-pagination [totalRecords]="totalRecords" [paginationParam]="queryParams" (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)" ></app-pagination>
</div>