.reciever-msg{
    text-align: initial !important;
    align-items: flex-start;
    .user-details {
        width: auto !important;
        max-width: 550px !important;
    }
    .reciver-msj{
        flex-direction: row-reverse;
    }
    .image-with-text-inner {
        align-items: flex-end;
        flex-direction: row-reverse;
        p{
            margin-left: auto;
            padding-right: 15px;
        }
    }
}
.sender-msg{
    
    .image-with-text-inner {
        align-items: flex-end;
        
    }
}
.chat-separator span{
    background:rgba(236, 235, 235, 0.3);
    font-weight: bold;
}
.chatTime{
    font-size: 0.6em !important;
}
