<header>
    <ng-container>
        <div class="header-wrap">
            <div class="container">
                <div class="custom-flex-between">
                    <div class="left-content">
                        <div class="logo-wrapper">
                            <a [routerLink]="['']" class="logo-btn"><img src="../../../../assets/images/logo.png"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</header>