<div class="main-wrapper">
    <div class="exlusive-offer noborder-radius blue-bg-banner">
      <div class="bg-image-wrap no-hover">
        <div class="custom-flex-start white-text h-100">
          <div class="container">
          <h2 class="bold medium-container">
            Let us help you to get ready  for your guests
          </h2>
           
              <div class="row section-padding-small">
                <div class="col-md-4 py-2">
                <div class="custom-card-img-bottom-text-wrap">
                  <div class="custom-card-img-bottom-text-wrap-inner">
                    <div class="card" >
                      <img src="../../../../assets/images/card-new-1.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h6 class="card-title text-center">{{'Captain'| localization }}</h6>
                        <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <div class="text-center">
                        <a (click)="explore(serviceProviderType.captain)" class="custom-btn white">{{'Explore'| localization}}</a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              </div>
              <div class="col-md-4 py-2">
                <div class="custom-card-img-bottom-text-wrap">
                  <div class="custom-card-img-bottom-text-wrap-inner">
                    <div class="card" >
                      <img src="../../../../assets/images/card-new-2.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h6 class="card-title text-center">{{'CleaningCompany' | localization}}</h6>
                        <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <div class="text-center">
                        <a (click)="explore(serviceProviderType.management)"  class="custom-btn white">{{'Explore'| localization}}</a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              </div>
              <div class="col-md-4 py-2">
                <div class="custom-card-img-bottom-text-wrap">
                  <div class="custom-card-img-bottom-text-wrap-inner">
                    <div class="card" >
                      <img src="../../../../assets/images/card-new-3.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h6 class="card-title text-center">{{'ManagementCompany' | localization}}</h6>
                        <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <div class="text-center">
                        <a  (click)="explore(serviceProviderType.cleaning)" class="custom-btn white">{{'Explore'| localization}}</a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              </div>
              
              </div>
            </div>
            <a  (click)="skip()" class="cstmskipbtn custom-btn white">{{'Skip'| localization}}</a>
          </div>
      </div>
    </div>
    </div>