<div class="container">
    <div class="section-padding">
        <div class="row">
            <div class="">
                <select name="select" id="select" class="custome-select" (change)="getBoatCalendar(boatId,1)"
                [(ngModel)]="boatId">
                    <option [ngValue]="item.id" *ngFor="let item of boats" >{{item?.name}}</option>
                </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <full-calendar #calendar [options]="calendarOptions" class="custom-calender" >
            </full-calendar> 
        </div>
    </div>
    
    </div>
</div>