<!-- custom table -->
<div class="custom-card custom-margin">
    <div class="row">
    <div class="col-sm-12">
      <h5 class="bold">Upcoming Events </h5>
      </div>

    <div class="custom-table ">
    <table>
      <thead>
        <tr>
          <th>Place</th>
          <th>Date & Time</th>
          <th>Night</th>
          <th>Guest</th>
          <th>Revenue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>laew khalagh</td>
          <td>12 July 2021, 13:44</td>
          <td>4 Nights</td>
          <td>4 Guest</td>
          <td> John Doe laew khalagh</td>
        </tr>
        <tr>
          <td>laew khalagh</td>
          <td>12 July 2021, 13:44</td>
          <td>4 Nights</td>
          <td>4 Guest</td>
          <td> John Doe laew khalagh</td>
        </tr>
        <tr>
          <td>laew khalagh</td>
          <td>12 July 2021, 13:44</td>
          <td>4 Nights</td>
          <td>4 Guest</td>
          <td> John Doe laew khalagh</td>
        </tr>
        <tr>
          <td>laew khalagh</td>
          <td>12 July 2021, 13:44</td>
          <td>4 Nights</td>
          <td>4 Guest</td>
          <td> John Doe laew khalagh</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-sm-12 text-right">
    <a  class="custom-btn underline-blue-link no-before-content" >See all</a>
    </div>
  </div>
  </div>
  <!-- custom table -->