<header>
 
    <ng-container>
        <div class="header-wrap">
            <div class="container">
                <div class="custom-flex-between">
                    <div class="left-content">
                        <div class="logo-wrapper">
                            <a [routerLink]="['']" class="logo-btn"><img src="../../../../assets/images/logo.png"
                                    alt=""></a>
                        </div>
                    </div>
                    <div class="cstmcntn center-content">
                        <ng-container >
                            <a [routerLink]="['/app/chats']" class="underline-link-blk" (click)="activeTab=HEADER_TABS.Inbox" [ngClass]="{'active':activeTab == HEADER_TABS.Inbox}">
                                <span class="logo-wrapper">
                                    <a  class="logo-btn"><img src="../../../../assets/images/inbox-icon.svg"
                                        alt=""></a>
                                    </span>
                                    Inbox
                                <span class="badge bg-blue" *ngIf="app.unReadChatCount > 0">{{app.unReadChatCount}}</span>
                            </a>
                        </ng-container>
                    </div>
                    <div class="right-content">
                        <div *ngIf="userDetails?.userRoles?.length > 0" class="dropdown custom-dropdown borderless-dropdown">
                            <button class="dropdown-btn dropdown-toggle blk-clr underline-link-blk" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="logo-wrapper">
                                    <!-- <a class="logo-btn"><img src="../../../../assets/images/create-icon.svg"
                                        alt=""></a> -->
                                </span>
                               {{'SwitchRole' | localization}} 
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <div *ngFor="let role of userDetails?.userRoles">
                                    <li><a (click)="switchRole(roles.User)" *ngIf="role?.normalizedName==roles.User" class="dropdown-item">{{'SwitchUser' | localization}}</a></li>
                                <li><a (click)="switchRole(roles.Host)" *ngIf="role?.normalizedName==roles.Host" class="dropdown-item">{{'SwitchHost' | localization}}</a></li>
                            </div>
                            </ul>
                          </div>
                        <div class="dropdown custom-dropdown" ngbDropdown>
                            <button ngbDropdownToggle class="dropdown-btn dropdown-toggle" type="button"
                                id="dropdownMenuButton1">
                                <img src="{{assetUrlS3 + (userDetails?.imagePath || USER_DEFAULTS.avatar)}}" alt="">
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <p class="header-content small-text">{{userDetails?.name}}</p>
                                </li>
                                <li><a class="dropdown-item" [routerLink]="['/chat']">Messages<span style="float: right;" class="badge bg-blue" *ngIf="app.unReadChatCount > 0">{{app.unReadChatCount}}</span></a></li>
                                <li><a class="dropdown-item" href="#">Notification</a></li>
                                <li><a class="dropdown-item" [routerLink]="['wishlists']" *ngIf="app.loggedInUserRole == USER_ROLE.user">Wishlist</a></li>
                                <li><a class="dropdown-item" href="#">Setting</a></li>
                                <li><a class="dropdown-item" [routerLink]="['/app/my-profile']" href="#">Profile</a></li>
                                <li><a class="dropdown-item" [routerLink]="['/app/help-center']">Help</a></li>
                                <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>

                            </ul>
                        </div>
                        <button class="custom-btn btn-mobile"><i class="fa fa-bars"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</header>
<ng-template #earnwithus>
     <div class="modal-content">
        <div class="modal-header no-border">
        </div>

        <div class="modal-body">
        </div>
      </div>
</ng-template>