// colors
$brand-color:#122BA8;
$brand-secondary-color:#091654;
$brand-dark-clr:#13278B;
$black-color: #000; // black color
$white-color: #fff; // white color
$dark-grey-color: #4C4D4F; // light grey
$transparent-clr: transparent;
$grey-clr:#9F9F9F;
$field-clr:#B1B1B1;
$reg-bg-clr:#F7CCCC;
$red-color:#FC3F3F;
$placeholder-color:#B4B4B4;
$grey-new-color:#3e3e3e;
$new-black-color:#222222;
$new-grey-clr:#ACACAC;
$new-grey-clr-secondary:#F5F5F5;
$footer-top-bg-clr:#FCFCFC;
$grey-bg-clr:#ECEBEB;
$new-red-clr:#ff6b6b;
$grey-light-color:#777777;
$yellow-new-clr:#FFAA00;
$grey-border-clr:#DBDBDB;
$sky-clr:#859AFF;
$star-yellow-clr:#FFE374;
$green-clr:#09D94E;
$footer-social-link:#c5c5c5;
$black-secondary-color: #434343; 
$modal-close-btn:rgba(60,64,67,0.08);
$grey-clr-rgb:60,64,67;
$background : #fff !default;
$success:       #4CAF50 !default;
$warning:       #FFC107 !default;
$info:           #263db5 !default;
$body-color: #212529 !default;
$gray-400: #ced4da !default;
// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// fonts
$font-primary-en: 'gilroy-Regular';
$font-semibold:'gilroy-semibold';
$font-bold:'gilroy-Bold';
$font-medium:'gilroy-medium';
$font-exBold:'gilroy-extrabold';


// Transition
$common-trans: .3s ease;
///toasts
// Toasts
$toast-max-width: 350px !default;
$toast-padding-x: .75rem !default;
$toast-padding-y: .25rem !default;
$toast-font-size: .875rem !default;
$toast-background-color: rgba($white,
.85) !default;
$toast-border-width: 1px !default;
$toast-border-color: rgba(0,
0,
0,
.1) !default;
$toast-border-radius: .25rem !default;
$toast-box-shadow: 0 .25rem .75rem rgba($black,
.1) !default;
$toast-header-color: $gray-600 !default;
$toast-header-background-color: rgba($white,
.85) !default;
$toast-header-border-color: rgba(0,
0,
0,
.05) !default;



/* clearfix */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* center block */
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* center vertically */
@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), "webkit" "ms");
}

//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}




