<div class="modal-content">
    <div class="modal-header no-border">
    </div>
    <div class="modal-body">
      <div class="custom-text-center">
        <div class="upload-image-wrapper">
          <img src="../../../../../assets/images/boat.png" alt="">
        </div>
        <h4 class="bold">{{'WelcometoBnBYachts' | localization}}</h4>
        <p class="py-2">{{'ExploreBoats' | localization}}</p>

        <div class="py-2 pt-4">
          <button class="custom-btn blue big-btn" data-bs-dismiss="modal" (click)="exploreBoats()">{{'Explore' | localization}}</button>
        </div>

      </div>
    </div>

  </div>