<div class="modal-content">
    <div class="modal-header no-border">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="custom-text-center">
            <div class="img-wrapper">
                <img src="../../../../assets/images/password-updated.png" alt="">
            </div>
            <h4 class="bold">Event Created</h4>
            <p class="pt-2">{{data?.location}}</p>
            <p class="py-2">{{data?.startDateTime | date:'dd-MMM-YYYY hh:mm a'}}</p>
            <div class="bottom-btn py-2">
                <button class="custom-btn blue big-btn" (click)="activeModal.dismiss()"
                    data-bs-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>

</div>