<!-- Event  -->
<div class="container">
    <div class="row">

    <div class="btn-back">
      <a (click)="goBack()" style="border: 1px solid #122ba8;">
        <i class="fas fa-chevron-left" style="color:#122ba8"></i>
      </a>
      <h2 class="bold">{{'EventLocation' | localization }}</h2>
  </div>
        <div class="col-sm-6 ">
            <div class="custom-select-field py-2">
                <label> {{'Listing' | localization }}</label>
                <select name="select" id="select">
                  <option value="" selected disabled>{{eventDetails?.boat?.name}}</option>
                </select>
              </div>
            <div class="custom-input-field">

              <label> {{'EventLocation' | localization }}</label>
              <input type="text"
              ngx-google-places-autocomplete
              (onAddressChange)="handleAddressChange($event)"
              [(ngModel)]="EventLocation.location" class="custom-input" value="{{eventDetails?.location}}"
              placeholder="Search Location">
              </div>
              <div class="custom-flex-end py-2">
                <button class="custom-btn grey" (click)="goBack()">{{'Cancel' | localization }}</button>
                  <button class="custom-btn blue ms-2" (click)="updateEventLocation()">{{'Save' | localization }}</button>
              </div>
        </div>
        <div class="col-sm-6 py-2">
            <div class="iframe-wrapper radius-iframe">
                <google-map height="560px" width="600px" [options]="mapOptions" [center]="center" [zoom]="zoom">
                    <map-marker  [position]="locationMarker?.position"
                      [label]="locationMarker?.label" [title]="locationMarker?.title" [options]="locationMarker?.options">
                    </map-marker>
                  </google-map>
                </div>
        </div>
    </div>
</div>