<div class="main-wrapper">
    <div class="your-boat banner-image white-text">
        <div class="bg-image-wrap no-hover noborder-radius image-before" style="background-image: url('../../../../assets/images/charter-bg.png');">
          <div class="custom-flex-start h-100">
              <div class="container">
                <h3 class="bold">{{'CleaningOnBoarding' | localization }}</h3>
                <p>{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit.' }}</p>
              </div>
          </div>
        </div>
      </div>
        <div class="section-padding host-on-board-steps">
            <div class="container">
            <div class="charter-info-tabs space-between-tabs">
                <div class="custom-tabs-wrapper">
                    <div class="nav nav-pills custom-tabs-btns" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <button type="button" class="underline-link-blk small-text" [ngClass]="{'active': currentTab == ONBOARDING_TABS.Registeration}"><span class="active">1</span>{{'Registeration' | localization }}</button>
                      <button type="button" class="underline-link-blk small-text" [ngClass]="{'active': currentTab == ONBOARDING_TABS.CompanyProfile}">
                          <span [ngClass]="{'active': currentTab > ONBOARDING_TABS.CompanyProfile}">2</span>{{'CompanyProfilePicture' | localization }}</button>
                          <button type="button" class="underline-link-blk small-text" [ngClass]="{'active': currentTab == ONBOARDING_TABS.CompanyProfile}">
                            <span [ngClass]="{'active': currentTab > ONBOARDING_TABS.Description}">3</span>{{'Description' | localization }}</button>
                      <button type="button" class="underline-link-blk small-text"  [ngClass]="{'active': currentTab == ONBOARDING_TABS.BankInfo}">
                          <span [ngClass]="{'active': currentTab > ONBOARDING_TABS.BankInfo}">4</span>{{'BankInfo' | localization }}</button>
                      <button type="button" class="underline-link-blk small-text"  [ngClass]="{'active': currentTab == ONBOARDING_TABS.SupportiveDoc}">
                          <span [ngClass]="{'active': currentTab > ONBOARDING_TABS.SupportiveDoc}">5</span>{{'SupportiveDoc' | localization }}</button>
                          <button type="button" class="underline-link-blk small-text" [ngClass]="{'active': currentTab == ONBOARDING_TABS.Terms}" >
                            <span [ngClass]="{'active': currentTab > ONBOARDING_TABS.Terms}">6</span>{{'Termsconditions' | localization }}</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <form [formGroup]="managementOnBoardingForm">
                            <div class="tab-pane"
                            [ngClass]="{'active': currentTab == ONBOARDING_TABS.Registeration}"
                                *ngIf="currentTab == ONBOARDING_TABS.Registeration">
                                <div class="row">
                                    <div class="col-md-6 py-2">
                                        <div class="custom-input-field">
                                            <label>{{'CompanyName' | localization }}</label>
                                            <input (keypress)="restrictNegative($event)" type="text" class="custom-input" formControlName="companyName"
                                                placeholder="{{'EnterCompanyName' | localization }}" />
                                                <small class="text-danger" *ngIf="managementForm.companyName.touched && !managementForm.companyName.valid">{{'CompanyNamerequired' | localization }} </small>
                                        </div>
                                    </div>  
                                    <div class="col-md-6 py-2">
                                        <div class="custom-input-field">
                                            <label>{{'Bio' | localization }}</label>
                                            <textarea (keypress)="restrictNegative($event)" rows="5" type="text" class="custom-input" formControlName="bio" placeholder="{{'EnterBio' | localization }}" > </textarea>
                                            <small class="text-danger" *ngIf="managementForm.bio.touched && !managementForm.bio.valid">{{'Biorequired'| localization }}</small>
                                          </div>
                                      </div>
                                      <div class="col-md-6 py-2">
                                        <div class="custom-input-field">
                                            <label>{{'Address' | localization }}</label>
                                            <input (keypress)="restrictNegative($event)" class="custom-input" formControlName="location"
                                            placeholder="{{'EnterAddress' | localization }}" 
                                            ngx-google-places-autocomplete
                                            (onAddressChange)="handleAddressChange($event)"/>
                                            <small class="text-danger" *ngIf="managementForm.location.touched && !managementForm.location.valid">{{'Addressrequired' | localization }}</small>
                                        </div>
                                    </div> 
                                      <div class="col-md-6 py-2">
                                        <div class="custom-input-field">
                                            <label>{{'Experience' | localization }}</label>
                                            <input (keypress)="restrictNegative($event)" type="number" class="custom-input" formControlName="experience" placeholder="{{'EnterExperience' | localization }}" /> 
                                            <small class="text-danger" *ngIf="managementForm.experience.touched && !managementForm.experience.valid">{{'Experiencerequired' | localization }}</small>
                                          </div>
                                      </div>
                                    
                                    <div class="col-sm-12 py-2">
                                        <div class="custom-flex-end">
                                            <button class="custom-btn blue" id="save-bt"         
                                            [disabled]="!registerStepValidation()"   (click)="incrementTab()">{{'Continue' | localization }}</button>
                                        </div>
                                    </div>
                                </div>
                             
                            </div>
                           
                            <div class="tab-pane" 
                            [ngClass]="{'active': currentTab == ONBOARDING_TABS.CompanyProfile}"
                            *ngIf="currentTab == ONBOARDING_TABS.CompanyProfile" >
                            <div class="row">   
                                <div class="col-sm-6 py-2">
                                    <div class="image-gallery-head-content custom-flex-between">
                                        <div class="">
                                          <p class="medium">{{'ProfilePicture' | localization }}</p>
                                          <p class="small-text light grey">{{'AddProfilePhoto' | localization }}</p>
                                          </div>
                                          
                                      </div>
                                    <div class="custmprofile  no-img-wrapper">
                                       <div class="no-img-inner">
                                           <img src= "{{imageSrc}}" alt="">
                                       </div>
                                       <div class="upload-btn">
                                   
                                           <div class="avatar-edit">
                                             <input (change)="onImageChange($event)" type="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                                             <label for="imageUpload" class="custom-btn grey small-text"><span class="material-icons upload_file">
                                               upload_file
                                               </span>
                                               {{'UploadImage' | localization }}</label>
                                           </div>
                                       </div>
                                    </div>
                                 </div>                         
                                    <div class="col-sm-12 py-2">
                                        <div class="custom-flex-end" >
                                            <button class="custom-btn outline-blue-clr me-4"
                                            (click)="decrementTab()">{{'Previous' | localization }}</button>
                                            <button class="custom-btn blue" id="save-bt"
                                            
                                          [disabled]="!companyProfileStepValidation()"     (click)="incrementTab()">{{'Continue' | localization }}</button>
      
                                        </div>
                                    </div>
                                    
                            </div>
                            </div>
                            <div class="tab-pane" 
                            [ngClass]="{'active': currentTab == ONBOARDING_TABS.Description}"
                            *ngIf="currentTab == ONBOARDING_TABS.Description" >
                            <div class="row">  
                                <div class="col-md-6 py-2">
                                    <div class="custom-input-field">
                                        <label>{{'Description' | localization }}</label>
                                        <textarea (keypress)="restrictNegative($event)" rows="4" type="text" class="custom-input" formControlName="description" placeholder="{{'Enter the Description'  | localization }}}}" > </textarea>
                                        <small class="text-danger" *ngIf="managementForm.description.touched && !managementForm.description.valid">{{'Descriptionrequired' | localization }}</small>
                                      </div>
                                  </div>                          
                                    <div class="col-sm-12 py-2">
                                        <div class="custom-flex-end" >
                                            <button class="custom-btn outline-blue-clr me-4"
                                            (click)="decrementTab()">{{'Previous' | localization }}</button>
                                            <button class="custom-btn blue" id="save-bt"
                                            
                                            [disabled]="!descriptionStepValidation()"    (click)="incrementTab()">{{'Continue' | localization }}</button>
      
                                        </div>
                                    </div>
                                    
                            </div>
                            </div>
                            <div class="tab-pane" 
                            [ngClass]="{'active': currentTab == ONBOARDING_TABS.BankInfo}"
                            *ngIf="currentTab == ONBOARDING_TABS.BankInfo"
                             >
                              <div class="row">
                                <div class="col-md-6 py-2">
                                    <div class="custom-input-field">
                                        <label>{{'AccountName' | localization }} </label>
                                        <input (keypress)="restrictNegative($event)" type="text" class="custom-input" formControlName="accountName"
                                        placeholder="{{'EnterAccountName'| localization }}" />
                                        <small class="text-danger" *ngIf="managementForm.accountName.touched && !managementForm.accountName.valid">{{'AccountNamerequired' | localization }}</small>
                                      </div>
                                  </div>
                                  <div class="col-md-6 py-2">
                                    <div class="custom-input-field">
                                        <label>{{'BankName' | localization }}</label>
                                        <input (keypress)="restrictNegative($event)" type="text" class="custom-input" formControlName="bankName"
                                        placeholder="{{'EnterBankName' | localization }}" />
                                        <small class="text-danger" *ngIf="managementForm.bankName.touched && !managementForm.bankName.valid">{{'BankNamerequired' | localization }}</small>
                                      </div>
                                  </div>
                                  <div class="col-md-6 py-2">
                                    <div class="custom-input-field">
                                        <label>{{'ZipCode' | localization }}</label>
                                        <input (keypress)="restrictNegative($event)" type="text" class="custom-input" formControlName="zipCode"
                                        placeholder="{{'EnterZipCode' | localization }}" />
                                        <small class="text-danger" *ngIf="managementForm.zipCode.touched && !managementForm.zipCode.valid">{{'ZipCoderequired'| localization }}</small>
                                      </div>
                                  </div>
                                  <div class="col-md-6 py-2">
                                    <div class="custom-input-field">
                                        <label>{{'SWIFT' | localization }}</label>
                                        <input (keypress)="restrictNegative($event)" type="text" class="custom-input" formControlName="swift"
                                        placeholder="{{'EnterSWIFT' | localization }}" />
                                        <small class="text-danger" *ngIf="managementForm.swift.touched && !managementForm.swift.valid">{{'SWIFTrequired' | localization }}</small>
                                      </div>
                                  </div>
                                  <div class="col-md-6 py-2">
                                    <div class="custom-input-field">
                                        <label>{{'IBAN' | localization}}</label>
                                        <input (keypress)="restrictNegative($event)" type="text" class="custom-input" formControlName="iban"
                                        placeholder="{{'EnterIBAN' | localization}}" />
                                        <small class="text-danger" *ngIf="managementForm.iban.touched && !managementForm.iban.valid">{{'IBANrequired' | localization }}</small>
                                      </div>
                                  </div>
                               
                                <div class="col-sm-12 py-2">
                                    <div class="custom-flex-end">
                                        <button class="custom-btn outline-blue-clr me-4"
                                        (click)="decrementTab()">{{'Previous' | localization }}</button>
                                        <button class="custom-btn blue" id="save-bt"
                                            
                                      [disabled]="!bankStepValidation()"  (click)="incrementTab()">{{'Continue' | localization }}</button>
      
                                    </div>
                                </div>
                            </div>
                             
                            </div>
                            <div class="tab-pane"
                            [ngClass]="{'active': currentTab == ONBOARDING_TABS.SupportiveDoc}"
                            *ngIf="currentTab == ONBOARDING_TABS.SupportiveDoc">
                            <div class="row py-2">
                                <div class="image-gallery-bannner bg-none blck-color">
                    
                                      <div class="image-gallery-collage">
                                          <div class="row">
                        
                                              <div class="col-md-12">
                                                  <div class="gallery-images-small-wrapper">
                                                      <div class="row">
                                                          <div class="col-sm-6 py-2">
                                                             <div class="no-img-wrapper custompdfbox " >
                                                                <div class="">
                        
                                                                    </div>
                                                                <div class="upload-btn">                   
                                                                    <div class="avatar-edit">
                                                                      <input  (change)="onFileChange($event)" type="file" id="imageUpload" accept="application/pdf">
                                                                      <label for="imageUpload" class="custom-btn grey small-text"><span class="material-icons upload_file">
                                                                        upload_file
                                                                        </span>
                                                                        {{'BrowsePDFFile' | localization }}</label>
                                                                        <label>{{file?.name}}</label>
                                                                    </div>
                                                                </div>
                                                             </div>
                                                          </div>
                                                          
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-sm-12 py-4">
                                            <div class="custom-flex-end">
                                                    <button class="custom-btn outline-blue-clr me-4"
                                                    (click)="decrementTab()">{{'Previous' | localization }}</button>
                                                    <button class="custom-btn blue" id="save-bt"                   
                                               [disabled]="!supportDocumentStepValidation()" (click)="incrementTab()">{{'Continue' | localization }}</button>
                                                    
            
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                              </div> 
                             
                            </div>

                            <div class="tab-pane" 
                            [ngClass]="{'active': currentTab == ONBOARDING_TABS.Terms}"
                            *ngIf="currentTab == ONBOARDING_TABS. Terms" >
                            <div class="charter-rules-wrap">
                                <h5 class="bold">{{'TermsConditions' | localization }}</h5>
                                <p class="small-text grey py-2">{{'Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.
                                    Suspendisse mollis velit eget dapibus convallis. Donec non massa vitae metus
                                    consequat ultrices nec sed nulla. Nullam volutpat vitae lectus sed pretium.
                                    Integer
                                    rutrum libero eget risus aliquam, ut imperdiet velit scelerisque. Donec commodo
                                    mi
                                    odio, sed accumsan justo aliquam quis. In tincidunt sollicitudin felis, et
                                    faucibus
                                    mauris posuere non. Quisque elementum sit amet enim viverra iaculis. Fusce nec
                                    urna
                                    non elit posuere commodo at quis lorem. Duis ac quam tincidunt, aliquam turpis
                                    vel,
                                    laoreet purus. Aliquam at ante sit amet sem bibendum scelerisque sit amet a
                                    lacus.
                                    Praesent non posuere nisi. Orci varius natoque penatibus et magnis dis
                                    parturient
                                    montes, nascetur ridiculus mus. Ut suscipit sollicitudin velit, sed porttitor
                                    turpis
                                    efficitur eu. Cras augue turpis, tempor in imperdiet in, venenatis sodales
                                    turpis.
                                    Curabitur lobortis maximus scelerisque. Nam non justo luctus, scelerisque dolor
                                    pulvinar, aliquam mauris.' }}</p>
                                <label class="custom-checkbox my-2">
                                    <input type="checkbox" [(ngModel)]="isAgree" [ngModelOptions]="{standalone: true}">
                                    <p class="small-text">{{'AgreeTerms' | localization }} </p>
                                    <span class="checkmark top-0"></span>
                                </label>
                                <div class="custom-flex-end py-5">
                                    <button class="custom-btn outline-blue-clr me-4"
                                    (click)="decrementTab()">{{'Previous' | localization }}</button>
                                    <button class="custom-btn blue" [disabled]="!isAgree" (click)="submit()" >{{'Continue' | localization }}</button>
                                </div>
                            </div>
                             
                            </div>
                        </form>
                     
                                  
                    </div>
                
                  </div>
            </div>
            </div>
        </div>