.chat-wrapper-section{
    .users-wrap {
        padding: 10px 0;
    height: calc(100vh - 320px);
        overflow-y: scroll;
        .users-wrap-inner {
            padding: 0 15px;
        }
    }
    .chat-wrap-bg-blue{
        position: relative;
        background-color: $white-color;
        margin: 10px 0;
        padding: 30px 0 0;
        height: calc(100vh - 260px);
        overflow-y: scroll;
        // &::-webkit-scrollbar{
        //     display: none;
        // }
        .image-with-text{
            padding: 20px 0;
            .user-details{
                max-width: 500px;
                width: auto !important;
                p{
                    max-width: 650px;
                  background-color:$gray-400;
                  color: $new-black-color;
                  padding: 10px;
                  border-radius: 5px;
                  border-bottom-left-radius: 0;
                }
              }
              &.bg-blue-text{
                  .user-details{
                      margin-right: 20px !important;
                    p{
                        background-color: $brand-color;
                        color: $white-color;
                        border-radius: 5px;
                        border-bottom-right-radius: 0;
                    }
                  }
        }   
        }
        .chat-separator{
            text-align: center;
            margin-bottom: 20px;

            span{
                display: inline-block;
                padding: 10px 20px;
                background-color: $white-color;
                margin: 0 auto;
                border-radius: 6px;
                font-size: 16px;
                color: $new-black-color;
            }
        }
        
    }
    .message-box{
      position: sticky;
      bottom: 0;
        //margin-top: 50px;
        background-color: #F9FAFF;
        form{
            position: relative;
               .message-actions{
         position: absolute;
         right: 10px;
         top: 50%;
         transform: translateY(-50%);
         a{
                i{
                    color: $grey-clr;
             }
         }
         
        }   
        }
        .custom-input-field{
            input{
                background-color: #F8F8F8;
                padding-right: 30px;
            }
        }
    }
}