<div class="main-wrapper">
    <div class="section-padding user-info-page">
    <div class="container">
       <div class="row">
           <div class="col-lg-3 col-md-4  py-2">
               <div class="custom-card user-info-wrap">
                <div class="image-with-text">
                    <div class="avatar-upload-outer edit-avatar-page">
                        <div class="avatar-upload">
                          <div class="avatar-preview">
                            <div *ngIf="serviceProvider.serviceProviderType==serviceProviderType.captain" id="imagePreview"  [ngStyle]="{ 'background-image': 'url(' + (serviceProvider?.userImagePath!=null?profilePictureurl + serviceProvider.userImagePath:userDefaults.avatar)+ ')'}"  >
                              
                            </div>
                            <div *ngIf="serviceProvider.serviceProviderType!=serviceProviderType.captain" id="imagePreview"  [ngStyle]="{ 'background-image': 'url(' + (serviceProvider?.companyProfilePicture!=null?companyPictureurl + serviceProvider.companyProfilePicture:userDefaults.avatar)+ ')'}"  >
                              
                            </div>
                          </div>
                        </div>
                       
                      </div>
                  <h6 *ngIf="serviceProvider.serviceProviderType==serviceProviderType.captain" class="bold text-center p-0 pb-3">{{serviceProvider.userName}}</h6>
                  <h6 *ngIf="serviceProvider.serviceProviderType!=serviceProviderType.captain" class="bold text-center p-0 pb-3">{{serviceProvider.companyName}}</h6>
                </div>
                <div class="border-top"></div>
                <div class="py-2">
                    <div class="py-2 text-center">
                        <button (click)="sendMessage()" class="custom-btn blue">{{'Contact'| localization}}</button>
                    </div>
                </div>
               </div>
           </div>
           <div class="col-lg-9 col-md-8 py-2">
               <div class="user-details-info-wrapper">
                   <div class="custom-flex-between align-items-start">
                       <div class="user-details-info-wrapper-inner">
                           <p *ngIf="serviceProvider.serviceProviderType==serviceProviderType.captain"  class="bold">{{serviceProvider.userName}}</p>
                           <p *ngIf="serviceProvider.serviceProviderType!=serviceProviderType.captain"  class="bold">{{serviceProvider.companyName}}</p>
                           <p class="grey pt-2">{{'Join' | localization}} {{serviceProvider.creationTime | yearformat}}</p>
                           <p class="grey py-1">{{serviceProvider.experience}} {{'Experience' | localization}}</p>
                        </div>
                        
                   </div>
                   <div class="py-2">
                       <p class="bold">About</p>
                       <p class="regular py-2 medium-container line-clamp-3 text-left">{{serviceProvider.bio}}</p>
                   </div>
                   <div class="py-2">
                       <p class="medium"><i class="fa fa-map-pin me-3"></i>{{serviceProvider.location}}</p>
                   </div>
                   <div *ngIf="serviceProvider.serviceProviderType ==serviceProviderType.captain" class="row">
                       <div class="col-md-4">
                           <p class="bold">{{'Calender' | localization}}</p>
                           <ejs-calendar (renderDayCell)='highlightAvliableDays($event)'  [value]='serviceProvider.fromDate' [min]='serviceProvider.fromDate' [max]='serviceProvider.toDate'></ejs-calendar>
                           <!-- <img src="./images/work-in-progress.jpg" alt="" > -->
                           </div>
                           <div class="col-md-8">
                            <div class="py-2 pb-0">
                                <p class="bold">{{'Availability' | localization}}</p>
                                <div class="py-2 pb-0">
                                    <p class="bold">{{'AvailableTimeSlots' | localization}} </p> 
                                    <div class="custom-chip-wrapper" *ngFor="let slots of serviceProvider.timeSlots" >
                                        <input id="condition-3" value="3" name="apiary_condition[3]" type="checkbox">
                                        <label for="condition-3">{{slots.time | timeformat }}</label>
                                    </div>
                                    
                                </div>
                           </div>
                            <div class="py-2">
                                <p class="bold">{{'BookedTimeSlots' | localization }}</p> 
                                <div class="custom-chip-wrapper">
                                    <input id="condition-3" value="3" name="apiary_condition[3]" type="checkbox">
                                    <label for="condition-3">11:30</label>
                                </div>
                                <div class="custom-chip-wrapper">
                                    <input id="condition-3" value="3" name="apiary_condition[3]" type="checkbox">
                                    <label for="condition-3">11:30</label>
                                </div>
                               
                            </div>
                        </div>     
                  
                    </div>
               </div>
               <app-servie-provider-review-list [serviceProviderId]=serviceProvider.id ></app-servie-provider-review-list>
               </div>
              
            </div>
       </div>
    </div>
    </div>
