<div class="main-wrapper">
    <div class="image-gallery-bannner section-padding">
        <div class="container">
            <div class="image-gallery-head-content white-text">
                <h3 class="bold mb-2">{{eventDetails?.boat?.name}}</h3>
                <p>{{eventDetails?.boat?.location}}</p>
            </div>
            <div class="image-gallery-collage">
                <div class="row" *ngIf="eventDetails?.boat?.boatGalleries?.length > 0">
                    <div class="col-md-6 py-2">
                        <div class="gallery-img-large custom-image-prev"
                            *ngFor="let item of (eventDetails?.boat?.boatGalleries | filterBy : 'isCoverPic' : true)">
                            <img src="{{assetsUrl + item?.imagePath}}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="gallery-images-small-wrapper">
                            <div class="row">
                                <div class="col-sm-6 py-2"
                                    *ngFor="let item of (eventDetails?.boat?.boatGalleries | filterBy : 'isCoverPic' : false);let i=index">
                                    <div class="gallery-images-small custom-image-prev" *ngIf="i < 4">
                                        <img src="{{assetsUrl + item?.imagePath}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="gallery-link-wrapper"><a href="#" class="underline-white-link">Gallery <span><i
                            class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a></div> -->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-padding">
                    <div class="card-wrapper p-0">
                        <div class="custom-tabs-wrapper custom-filled-view">
                            <div class="nav nav-pills custom-tabs-btns" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <button class="underline-link-blk active" id="v-pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-profile" type="button" role="tab"
                                    aria-controls="v-pills-profile" aria-selected="false">{{'Event'|localization}}</button>
                            </div>
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                    aria-labelledby="v-pills-home-tab">
                                    <div class="tabs-inner-details">
                                        <div class="row">
                                            <div class="col-xl-6 py-2">
                                                <h6 class="bold">{{'EventDetails'|localization}}</h6>
                                                <div class="tabs-inner-details-inner">
                                                    <div class="custom-flex-start py-1 align-items-start depart-date-lg-view">
                                                        <div class="custom-flex align-items-start mobile-width-100">
                                                            <p class="medium min-width-text small-content">{{'EventName'|localization}}</p>
                                                            <p class="min-width-text-small">
                                                                {{eventDetails?.title}}</p>
                                                        </div>
                                                        <div class="custom-flex align-items-start mobile-width-100">
                                                            <p class="medium min-width-text small-content">{{'EventCapacity'|localization}}</p>
                                                            <p class="min-width-text-small">{{eventDetails?.guestCapacity}} {{'Guests'|localization}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="custom-flex-start py-1 flex-mobile-column">
                                                        <div class="custom-flex mobile-width-100">
                                                            <p class="medium min-width-text small-content">{{'EventDate'|localization}}</p>
                                                            <p class="min-width-text-small">
                                                                {{eventDetails?.startDateTime | date:'dd-MMM-YYYY'}}</p>
                                                        </div>
                                                        <div class="custom-flex mobile-width-100">
                                                            <p class="medium min-width-text  small-content">{{'Remaining'|localization}}</p>
                                                            <p class="min-width-text-small">{{eventDetails?.guestCapacity}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="custom-flex-start py-1 flex-mobile-column">
                                                        <div class="custom-flex mobile-width-100">
                                                            <p class="medium min-width-text small-content ">{{'EventType'|localization}}:</p>
                                                            <p class="min-width-text-small">
                                                                {{eventDetails?.eventType == 1 ? 'Adult':'Family'}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6 class="bold mt-3">{{'EventDescription'|localization}}</h6>
                                                <div class="tabs-inner-details-inner">
                                                    <div class="custom-flex-coumn">
                                                        <p>{{eventDetails?.description}}</p>
                                                    </div>
                                                </div>
                                                <h6 class="bold mt-3">{{'ApprovalPolicy' | localization}}</h6>
                                                <div class="tabs-inner-details-inner">
                                                    <div class="custom-flex-coumn" *ngIf="((this.noOfWords<=20));else greaterThanLimitBlock">
                                                        <p>{{this.approvalPolicyArray.join(' ')}}</p>
                                                    </div>
                                                    <ng-template #greaterThanLimitBlock>
                                                        <div *ngIf="this.readAll; else readLessBlock">
                                                          {{this.approvalPolicyArray.join(' ')}}
                                                        </div>
                                                        <ng-template #readLessBlock>
                                                          {{(this.approvalPolicyArray | slice:0:21).join(' ')}}
                                                        </ng-template>
                                                        <button class="custom-btn underline-blue-link no-before-content p-0" (click)="readAllToggle()">{{ this.readAll ? 'Read Less' : 'Read All...' }}</button>
                                                      </ng-template>                                                    
                                                </div>
                                            </div>
                                            <div class="col-xl-6 py-2">
                                                <div class="row pb-2 m-0 check-in-out-wrap">
                                                    <div class="col-md-6 py-2">
                                                        <div class="custom-date-month-view"
                                                            *ngIf="eventSchedule?.length > 0">
                                                            <span class="fas fa-chevron-left"
                                                                (click)="onChangeDate(false)"
                                                                [hidden]="dateScheduleIndex == 0">
                                                            </span>
                                                            <div class="">
                                                                <div class="">
                                                                    <span>
                                                                        <b>{{eventSchedule[dateScheduleIndex]?.eventDate
                                                                            | date : 'MMM-dd-YYYY'}}</b></span>
                                                                </div>
                                                            </div>
                                                            <span
                                                                [hidden]="dateScheduleIndex == eventSchedule.length -1 "
                                                                class="fas fa-chevron-right"
                                                                (click)="onChangeDate(true)"></span>
                                                            <!-- </div>
                                                    <small class="text-danger"
                                                        *ngIf="(charterFilterDetails?.checkinDate == '' || charterFilterDetails?.checkoutDate == '')&& isSubmitted">Enter
                                                        {{!charterFilterDetails.checkinDate ? 'check-in':'check-out'}}
                                                        date</small> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 py-2">
                                                        <div class="">
                                                            <div class="custom-flex select custom-select select-search custom-input-label-inside"
                                                                [ngbPopover]="popContent" placement="bottom"
                                                                autoClose="outside" triggers="manual"
                                                                #popOver="ngbPopover" (click)="openPopover()">
                                                                <label>{{'Guests'|localization}}</label>

                                                                <div class="custom-flex w-100">
                                                                    <p class="counter-text-total">
                                                                        {{eventFilterDetails?.adults}}
                                                                        {{'Adult(s)'|localization}}</p>
                                                                    <p class="counter-text-total">
                                                                        {{eventFilterDetails?.childrens}}
                                                                        {{'Children'|localization}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <small class="text-danger"
                                                            *ngIf="(eventFilterDetails.adults == 0 && eventFilterDetails.childrens == 0) && isSubmitted">{{'EnterGuestsDetails'|localization}}</small>
                                                    </div>

                                                    <ng-template #popContent>
                                                        <div class="row p-2">
                                                            <div class="col-12">
                                                                <div class="counter-input-wrapper">
                                                                    <div class="number border-0 p-0 w-100">
                                                                        <div class="custom-flex-start w-100">
                                                                            <label
                                                                                class="m-0 max-width-50">{{'Adults'|localization}}</label>
                                                                            <div class="custom-flex-start max-width-50">
                                                                                <span class="minus"
                                                                                    style="cursor: pointer;"
                                                                                    (click)="popOverFilterData.adults = popOverFilterData.adults > 0 ? popOverFilterData.adults - 1 : 0;">-</span>
                                                                                <input type="text"
                                                                                    [(ngModel)]="popOverFilterData.adults" />
                                                                                <span class="plus"
                                                                                    style="cursor: pointer;"
                                                                                    (click)="popOverFilterData.adults = popOverFilterData.adults + 1;">+</span>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="counter-input-wrapper">
                                                                    <div class="number border-0 p-0 w-100">
                                                                        <div class="custom-flex-start w-100">

                                                                            <div class="max-width-50">
                                                                                <label class="m-0">{{'Children'|localization}}</label>
                                                                                <label
                                                                                    class="grey small-txt m-0 extra-small-text">{{'Ages0-13'|localization}}</label>
                                                                            </div>
                                                                            <div class="custom-flex-start max-width-50">
                                                                                <span class="minus"
                                                                                    style="cursor: pointer;"
                                                                                    (click)="popOverFilterData.childrens = popOverFilterData.childrens > 0 ? popOverFilterData.childrens -1 : 0;">-</span>
                                                                                <input type="text"
                                                                                    [(ngModel)]="popOverFilterData.childrens" />
                                                                                <span class="plus"
                                                                                    style="cursor: pointer;"
                                                                                    (click)="popOverFilterData.childrens = popOverFilterData.childrens +1;">+</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 pt-2">
                                                                <small class="text-danger">{{eventCapcityValidation}}</small>
                                                                <div class="custom-flex-end">
                                                                    <button class="custom-btn blue small-btn"
                                                                        (click)="updateGuests()">{{'Done'|localization}}</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                    <div class="total-amount-wrap custom-padding-top">
                                                        <div class="total-amount-wrap-inner">
                                                            <p>$ {{eventDetails?.amountPerPerson}} X
                                                                {{eventFilterDetails.adults +
                                                                eventFilterDetails.childrens}} </p>
                                                            <p>${{eventDetails?.amountPerPerson *
                                                                (eventFilterDetails.adults +
                                                                eventFilterDetails.childrens)}}.00</p>

                                                        </div>
                                                        <div class="total-amount-wrap-inner">
                                                            <p>{{'Tax'|localization}}</p>
                                                            <p>${{eventDetails?.boat?.taxFee}}.00</p>

                                                        </div>
                                                        <div class="total-amount-wrap-inner">
                                                            <p>{{'ServiceFee'|localization}}</p>
                                                            <p>$20.00</p>

                                                        </div>
                                                        <div class="total-amount-wrap-inner bottom">
                                                            <p class="medium">{{'Total(USD)'|localization}}</p>
                                                            <p class="medium">$ {{eventDetails?.amountPerPerson *
                                                                (eventFilterDetails.adults +
                                                                eventFilterDetails.childrens) +
                                                                eventDetails?.boat?.taxFee+ 20}}.00</p>

                                                        </div>
                                                        <button class="custom-btn blue" (click)="reserveEvent()">{{'BookNow'|localization}}</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="section-padding">
                        <h5 class="bold">{{'AboutTheBoat'|localization}}</h5>
                        <p class="max-width-content py-2">{{eventDetails?.boat?.description}}</p>
                    </div>
                    <div class="section-padding">
                        <div class="what-offers">
                            <div class="row" *ngIf="eventDetails?.boat?.boatFeatures">
                                <div class="col-md-6">
                                    <h5 class="bold">{{'WhatThisBoatOffers'|localization}}</h5>
                                    <div class="custom-flex-start">
                                        <div class="offerings" style="width: 100%;">
                                            <div class="row">
                                                <div class="col-6"
                                                    *ngFor="let item of (showMore ? featureFilter(false,false):(featureFilter(false,false)) | slice:0:4)">
                                                    <p><i
                                                            class="fa {{item.offeredFeatures.icon}}"></i>{{item.offeredFeatures.name}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="offerings">
                                        <p *ngFor="let item of featureFilter(false,false) | mySlice:3:6"><i
                                                class="fa {{item?.offeredFeatures?.icon}}"></i>{{item?.offeredFeatures?.name}}
                                        </p>
                                    </div> -->
                                    </div>
                                    <button (click)="showMore = !showMore;"
                                        class="custom-btn outline-blue-clr my-2">Show
                                        {{showMore ? 'less' :'all'}}</button>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="bold">{{'Favourites'|localization}}</h5>
                                    <div class="custom-flex-start">
                                        <div class="offerings">
                                            <p *ngFor="let item of featureFilter(true,false) | mySlice:0:3"><i
                                                    class="fa {{item?.offeredFeatures?.icon}}"></i>{{item?.offeredFeatures?.name}}
                                            </p>
                                        </div>
                                        <div class="offerings">
                                            <p *ngFor="let item of featureFilter(true,false) | mySlice:3:6"><i
                                                    class="fa {{item?.offeredFeatures?.icon}}"></i>{{item?.offeredFeatures?.name}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-padding">
                        <div class="what-offers">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="bold">{{'BoatRules'|localization}}</h5>
                                    <div class="custom-flex-start">
                                        <div class="offerings">
                                            <p *ngFor="let item of eventDetails?.boat?.boatRules"><i
                                                    class="fa {{item?.offeredRule?.icon}}"></i>{{item?.offeredRule?.name}}
                                            </p>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-6" *ngIf="eventDetails?.boat?.boatFeatures">
                                    <h5 class="bold">{{'Health&Safety'|localization}}</h5>
                                    <div class="custom-flex-start">
                                        <div class="offerings">
                                            <p *ngFor="let item of featureFilter(false,true)"><i
                                                    class="fa {{item?.offeredFeatures?.icon}}"></i>{{item?.offeredFeatures?.name}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="exlusive-offer section-padding  quote-section-blue">
                        <div class="bg-image-wrap no-hover text-left">
                            <div class="row h-100 align-items-center">
                                <div class="col-md-6">
                                    <div class="custom-flex-start white-text h-100">
                                        <h2 class="bold">{{'AskForAQuote'|localization}}</h2>
                                        <p class="medium-container regular">Short description about the service how it
                                            works
                                            , ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud</p>
                                        <p class="medium-container regular">Short description about the host Lorem ipsum
                                            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut
                                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                                            <a [routerLink]="['/quote',eventDetails?.boatId]" class="custom-btn white">{{'GetAQuote'|localization}}</a>
                                    </div>
                                </div>
                                <div class="col-md-6 py-2">
                                    <div class="row">
                                        <div class="col-md-6 py-2">
                                            <div class="custom-card-img-bottom-text-wrap">
                                                <div class="custom-card-img-bottom-text-wrap-inner"
                                                    *ngIf="eventDetails?.boat?.boatGalleries?.length > 0">
                                                    <div class="card"
                                                        *ngFor="let item of (eventDetails?.boat?.boatGalleries | filterBy : 'isCoverPic' : true)">
                                                        <img src="{{assetsUrl + item?.imagePath}}" class="card-img-top"
                                                            alt="...">
                                                        <div class="card-body bg-white">
                                                            <p>{{'PrivateCharter'|localization}}</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6 py-2">
                                            <div class="custom-card-img-bottom-text-wrap">
                                                <div class="custom-card-img-bottom-text-wrap-inner">
                                                    <div class="card"
                                                        *ngFor="let item of (eventDetails?.boat?.boatGalleries | filterBy : 'isCoverPic' : true)">
                                                        <img src="{{assetsUrl + item?.imagePath}}" class="card-img-top"
                                                            alt="...">
                                                        <div class="card-body bg-white">
                                                            <p>{{'PrivateCharter'|localization}}</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="host-details section-padding">
                        <div class="host-details-wrap">
                            <div class="row align-items-center">
                                <div class="col-md-6 py-2 text-center-mobile">
                                    <h5 class="bold">{{'HostedBy'|localization}}</h5>
                                    <p class="medium py-2">{{'NameHost'|localization}} {{boatHost?.name}}</p>
                                    <div class="address-details">
                                        <p>{{'JoinDate'|localization}} {{boatHost?.creationTime | date:'dd-MMM-YYYY'}}</p>
                                        <p><i class="fa fa-check"></i> {{'IdentityVerified'|localization}} Verified </p>
                                        <p><i class="fa fa-star"></i> {{'ResponseRate'|localization}} 0%</p>
                                        <p>{{'ResponseTime'|localization}} 0 min</p>
                                    </div>
                                </div>
                                <div class="col-md-6 py-2 text-center">
                                    <div class="image-wrapper-host">
                                        <img src="{{assetsCoreUrl + (boatHost?.imagePath || USER_DEFAULTS.avatar)}}"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col-sm-12 pt-2 text-center">
                                    <button class="custom-btn blue big-btn">{{'ContactHost'|localization}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="rating-wrapper section-padding">
                            <div class="row">
                                <app-list-reviews [boatId]=eventDetails?.boat?.id></app-list-reviews>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>