<div class="row">
  <div class="col-xxxl-3 col-md-4">
  <nb-card>
      <div class="icon-container">
        <div class="icon status-primary">
          <i class="nb-lightbulb"></i>
          <!-- <img src="../../../assets/images/users.png" class="CardImage" alt="Users"/> -->
        </div>
      </div>
      <div class="details">
        <div class="title h5">Users</div>
        <div class="status paragraph-10">{{totalUser?.users}}</div>
      </div>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-md-4">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-success">
          <i class="nb-roller-shades"></i>
          <!-- <img src="../../../assets/images/Host.png" class="CardImage" alt="Hosts"/> -->
        </div>
      </div>
      <div class="details">
        <div class="title h5">Hosts</div>
        <div class="status paragraph-10">{{totalUser?.hosts}}</div>
      </div>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-md-4">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-info">
          <i class="nb-audio"></i>
          <!-- <img src="../../../assets/images/dispute.png" class="CardImage" alt="Disputes"/> -->
        </div>
      </div>
      <div class="details">
        <div class="title h5">Disputes</div>
        <div class="status paragraph-10">{{totalUser?.disputes}}</div>
      </div>
    </nb-card>
  </div>
</div>