<nb-card>
    <nb-card-header>
     <span> Featured Cities </span>
     <span class="btn-floating"><button type="button" class="btn btn-primary" (click)="openLg(content)">Add City</button></span>
      </nb-card-header>
    <nb-card-body>
      <ng2-smart-table class="order-table" [settings]="settings" [source]="source" >
      </ng2-smart-table>
    </nb-card-body>
</nb-card>

<ng-template #content let-modal>
    <div class="modal-content">
      <div class="modal-header no-border">
        <h4 class="bold">Add City</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cityForm" novalidate="novalidate" (ngSubmit)="onSubmit()" >
          <div class="custom-modal-inner">  
            <div class="modal-content-inner-text">
              <div class="form-text-inner">
                  <div>
                    <div class="md-3">
                      <label>City</label>
                      <input type="text" class="form-control" formControlName="name" name="name" placeholder="Enter City">
                      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'name is required',
                        control: cityForm.controls['name']
                    }"></ng-container>
                    </div>
                  </div>
                  <div>
                    <label>Upload Image</label>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="imagePath" id="imagePath" name="imagePath" (change)="onFileChange($event)" >
                        <label class="custom-file-label" for="file">{{ fileInfo || "Choose file..."}}</label>
                      </div>
                      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'City Image is required',
                        control: cityForm.controls['imagePath']
                    }"></ng-container>
                  </div>
                  <div> 
                    <div class="custom-input-field">
                      <label>Description</label>
                      <textarea type="text" class="form-control" placeholder="Enter Description..." formControlName="description" name="description" rows="5" autocomplete="off" ></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" [disabled]="cityForm.invalid">Submit</button>
                  <button type="button" class="btn btn-light" (click)="resetForm()" (click)="modal.dismiss('Cross click')">Close</button>
              </div>
            </div>
          </div>
          </div>
        </form>
        </div>
    </div>
  </ng-template>
  <ng-template #contents let-c="close" let-d="dismiss">    
    <div class="modal-header">    
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>    
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">    
            <span aria-hidden="true">x</span>    
        </button>    
    </div>    
    <div class="modal-body">    
        <p>Are you sure to delete this?</p>    
    </div>    
    <div class="modal-footer">    
        <button type="button" class="btn btn-default" (click)="d('Cross click')">Cancel</button>    
        <button type="button" class="btn btn-primary" (click)="c('yes')">Yes</button>    
    </div>    
  </ng-template>   

  <ng-template #contentData let-modal>
    <div class="modal-content">
      <div class="modal-header no-border">
        <h4 class="bold">Update City</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
          <div class="custom-modal-inner">  
            <div class="modal-content-inner-text">
              <div class="form-text-inner">
                  <div>
                    <div class="custom-input-field">
                      <label>City</label>
                      <input type="text" class="form-control" formControlName="name" name="name" placeholder="Enter City" required>
                      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'city is required',
                        control: cityForm.controls['name']
                    }"></ng-container>
                    </div>
                  </div>
                  <div>
                    <label>Upload Image</label>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" #choosefile id="image" name="imagePath" (change)="onFileChange($event)" required>
                        <label class="custom-file-label">{{ fileInfo || "Choose file..."}}</label>
                      </div>
                      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'City Image is required',
                        control: cityForm.controls['imagePath']
                    }"></ng-container>
                  </div>
                  <div>
                    <div class="custom-input-field">
                      <label>Description</label>
                      <textarea type="text" class="form-control" placeholder="Enter Description..." formControlName="description" name="description"  rows="5" autocomplete="off" ></textarea>
                      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Description is required',
                        control: cityForm.controls['description']
                    }"></ng-container>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" [disabled]="cityForm.invalid">Submit</button>
                  <button type="button" class="btn btn-light" (click)="resetForm()"  (click)="modal.dismiss('Cross click')">Close</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          {{ message }}
        </div>
      </div>
    </ng-container>
  </ng-template>