<div class="LoaderWrap" [hidden]="!loading">
    <div class="spinnerWrap">
        <div class="custom-center-card" style="background:none !important;box-shadow: none;">
            <div class="custom-center-card-spinner" style="box-shadow: none !important;">
             <div class="spinner-border text-primary" role="status">
               </div>
            </div>
            <!-- <div class="custom-center-card-message py-3"> -->
                <!-- <h4 class="py-3">Confirming Your Payment</h4> -->
                <!-- <p>Please don't exit</p> -->
            <!-- </div> -->
        </div>
    </div>
</div>  

\