
    <div class="main-wrapper">
        <div class="your-boat ">
            <div class="bg-image-wrap bg-image-big no-hover noborder-radius" style="background-image: url('../../../../assets/images/bg-boat-rectangle.png');">
              <div class="custom-flex-start h-100">
                  <div class="container">
                    <h3 class="bold white-text">Start earning on your Boat</h3>
                    <a [routerLink]="['/host/onboarding']" class="custom-btn white">Try Hosting</a>
                  </div>
              </div>
            </div>
          </div>
          <div class="section-padding text-center">
          <div class="container">
              <div class="custom-sync-slider">
                <div class="row self-boat-slider">                  
                  <p-carousel
                  [value]="boats" [circular]="true" [showNavigators]="true" [numVisible]="4" [numScroll]="1" [responsiveOptions]="carouselSettings">
                  <ng-template pTemplate="header">
                    <h3 class="medium text-center custom-margin mt-0">You can host anywhere</h3>
                  </ng-template>
                  <ng-template let-boat pTemplate="item">
                    <div class="slick-slide">
                      <div class="bg-image-wrap small-img bottom-center-btn" style="background-image: url({{boat}});"></div>
                    </div>
                    <div class="row self-boat-slider-content text-center">
                      <p class="line-clamp-1 text-center custom-margin medium">{{'comment'|localization}}</p>
                      <p class="bold">{{'commentor'|localization}}</p>
                    </div>
                  </ng-template>
                  </p-carousel>
                </div>
              </div>
              <div class="your-boat section-padding ">
                <div class="bg-image-wrap no-hover" style="background-image: url('../../../../assets/images/your-boat-brown.png');">
                  <div class="custom-flex-start white-text h-100">
                    <h3 class="bold medium-container py-3">You can host any Boat</h3>
                    <p class="medium-container text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                  </div>
                </div>
              </div>
              <div class="medium-container text-left custom-margin">
                  <h3 class="text-left bold medium-container">You can provide multiple services on your boat as a host</h3>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 py-2 text-left">
                  <a href="" class="big-img-link"><img src="../../../../assets/images/card-1.png" alt=""><span class="underline-link-blk">Charter</span> </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 py-2 text-left">
                  <a href="" class="big-img-link"><img src="../../../../assets/images/card-1.png" alt=""><span class="underline-link-blk">Boatel</span> </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 py-2 text-left">
                  <a href="" class="big-img-link"><img src="../../../../assets/images/card-1.png" alt=""><span class="underline-link-blk">Events</span> </a>
                </div>
              </div>
              <div class="your-boat section-padding">
                <div class="bg-image-wrap no-hover" style="background-image: url('../../../../assets/images/boats-multiple.png');">
                  <div class="custom-flex-start white-text  h-100">
                    <h3 class="bold">Try hosting on BnBYachts</h3>
                    <p>Join us. We’ll help you every step of the way.</p>
                    <a href="javascript:void(0)" class="custom-btn white">Try Hosting</a>
                  </div>
                </div>
              </div>
          </div>
          </div>
		  </div>