<div class="sidebar-wrapper">
  <div class="logo">
    <div class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets\images\bnb.png" class="imageStyle">
      </div>
    </div>
  </div>
  <ul class="nav">
    <li>
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="sideNavActive">
        <span class="textWidth"> Home</span>
      </a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/users']" routerLinkActive="sideNavActive" >
        <span class="textWidth">Users</span>
      </a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/host']" routerLinkActive="sideNavActive">
        <span class="textWidth">Boat Owners/Host</span>
      </a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/dispute']" routerLinkActive="sideNavActive">
          <span class="textWidth">Dispute Queries</span>
      </a>
    </li>
    </ul>
</div>
