.navMenuFaIcon {
  float: left;
  width: 30px;
  text-align: center;
}
.textWidth {
  padding-left:15px;
  vertical-align: top;
}
.imageStyle {
  width: 100%;
   height: 100%;
   padding-top:10px;
   padding-bottom: 10px;
}
