<div class="sidebar-wrapper">
  <div class="logo">
    <div class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets\images\bnb.png" style="width: 100%; height: 100%;padding-top:10px;padding-bottom: 10px;">
      </div>
    </div>
  </div>
  <ul class="nav">
    <li>
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="sideNavActive">
        <span style="padding-left:15px;vertical-align: top;"> Home</span>
      </a>
    </li>
    <li class="employee-nav">
      <a class="nav-link" [routerLink]="['/users']" routerLinkActive="sideNavActive" >
        <span style="padding-left:15px;vertical-align: top;">Users</span>
      </a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/host']" routerLinkActive="sideNavActive">
        <span style="padding-left:15px;vertical-align: top;">Boat Owners/Host</span>
      </a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/dispute']" routerLinkActive="sideNavActive">
          <span style="padding-left:15px;vertical-align: top;">Dispute Queries</span>
      </a>
    </li>
    </ul>
</div>
