<div class="reservation-page section-padding">
  <div class="container">
    <div class="row">
      <div class="btn-back">
        <a (click)="goBack()" class="backLink">
          <i class="fas fa-chevron-left leftIcon"></i>
        </a>

        <h2 class="bold">{{"BoatelReservationDetails" | localization}}</h2>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-8 py-2">
        <div>
          <h5 class="bold pb-1">{{"Description" | localization}}</h5>
          <div  *ngIf="((this.noOfWords<=20));else greaterThanLimitBlock">
            <p class="small-text medium-container text-left grey"> {{showDescription().join(' ')}} </p>
          </div>
          <ng-template #greaterThanLimitBlock>
            <div *ngIf="this.showMore; else showLessBlock">
              {{showDescription().join(' ')}}
            </div>
            <ng-template #showLessBlock>
              {{(showDescription() | slice:0:21).join(' ')}}
            </ng-template>
            <button class="custom-btn underline-blue-link no-before-content p-0" (click)="showMoreToggle()">Show {{ this.showMore ? 'Less' : 'More...' }}</button>
          </ng-template>
          <h5 class="bold pb-1">{{"Description" | localization}}</h5>
          <p class="small-text medium-container text-left grey">{{booking?.boatDetail?.description }}</p>
        </div>
        <div class="">
          <div class="character-info-wrapper  custom-flex">
            <div class="custom-flex-start character-info py-2">
              <p class="medium description-fotmat">{{'BoatName' | localization}}</p>
              <p class="grey">{{booking?.boatDetail?.name }}</p>
            </div>
            <div class="custom-flex-start character-info py-2">
              <p class="medium description-fotmat"></p>
              <p class="grey">

              </p>
            </div>
          </div>
          <div class="character-info-wrapper  custom-flex">
            <div class="custom-flex-start character-info py-2">
              <p class="medium description-fotmat">{{"CheckInDate" | localization}}</p>
              <p class="grey">{{booking?.checkinDate | date}}</p>
            </div>
            <div class="custom-flex-start character-info py-2">
              <p class="medium description-fotmat">{{"CheckOutDate" | localization}}</p>
              <p class="grey">{{booking?.checkoutDate | date}}</p>
            </div>
          </div>
          <div class="character-info-wrapper  custom-flex">
            <div class="custom-flex-start character-info py-2">
              <p class="medium description-fotmat">{{"NoofGuest" | localization}}</p>
              <p class="grey"> {{booking?.noOfAdults + booking?.noOfChildrens}}</p>
            </div>
            <div class="custom-flex-start character-info py-2">
              <p class="medium description-fotmat">{{"Location" | localization}}</p>
              <p class="grey">{{booking?.boatDetail?.location}}</p>
            </div>
          </div>
          <div class="character-info-wrapper  custom-flex">
            <div class="custom-flex-start character-info py-2">
              <p class="medium description-fotmat">{{"CheckInTime" | localization}}</p>
              <p class="grey">{{booking?.checkinTime }}</p>
            </div>
            <div class="custom-flex-start character-info py-2">
              <p class="medium description-fotmat">{{"CheckOutTime" | localization}}</p>
              <p class="grey">{{booking?.checkoutTime}}</p>
            </div>
          </div>
          <div class="character-info-wrapper  custom-flex">
            <div class="custom-flex-start character-info py-2">
              <p class="medium description-fotmat">{{"Bedroom" | localization}}</p>
              <p class="grey">{{booking?.boatDetail?.totalBedrooms}}</p>
            </div>
            <div class="custom-flex-start character-info py-2">
              <p class="medium description-fotmat">{{"Bathroom" | localization}}</p>
              <p class="grey">{{booking?.boatDetail?.totalWashrooms}}</p>
            </div>

          </div>


          <div class="price-detail py-4">
            <h5 class="bold pt-3 pb-1">{{"PriceDetails" | localization}}</h5>
            <div class="custom-flex-between">
              <p class="medium">{{booking?.boatDetail?.perDayCharges}} x {{ booking?.TotalDays}} Night</p>
              <p class="medium text-right py-1">{{booking?.boatDetail?.perDayCharges * booking?.TotalDays }}.00 $</p>
            </div>
            <div class="custom-flex-between">
              <p class="medium">{{"ServiceFee" | localization}}</p>
              <p class="medium text-right py-1">20.00 $</p>
            </div>
            <div class="custom-flex-between">
              <p class="medium">{{"Tax" | localization}}</p>
              <p class="medium text-right py-1">{{booking?.boatDetail?.taxFee}}.00 $</p>
            </div>
            <div class="custom-flex-between">
              <p class="medium">{{"Total(USD)" | localization}}</p>
              <p class="medium text-right py-1">{{(booking?.boatDetail?.perDayCharges * booking?.TotalDays) + 20 + 20 +
                booking?.boatDetail?.taxFee}}.00 $</p>
            </div>
            <ng-container *ngIf="booking?.bookingStatus===BOOKING_STATUS.Cancel">
            <ng-container *ngFor="let item of booking?.bookingCancelDetail">
            <div class="custom-flex-between">
                <p class="medium">{{"DeductedAmount(USD)" | localization}}</p>
                <p class="medium text-right py-1">{{item?.totalAmount - item?.refundAmount}}.00 $</p>
            </div>

            <div class="custom-flex-between">
                <p class="medium">{{"RefundableAmount(USD)" | localization}}</p>
                <p class="medium text-right py-1" >{{item?.refundAmount}}.00 $</p>
            </div>
          </ng-container>
          </ng-container>
          </div>
        </div>
      </div>
      <div class="col-sm-4 py-2">
        <div class="character-info-img">
          <div *ngFor="let imgs of booking?.boatDetail?.boatGalleries | filterBy : 'isCoverPic':true">
            <img src="{{assetsUrl+imgs.imagePath}}" alt="">
          </div>
        </div>
      </div>

      <div class="col-sm-12 custom-margin text-center mobile-padding-btns"
        *ngIf="booking?.bookingStatus != BOOKING_STATUS.Rejected">
        <div *ngIf="booking?.bookingStatus == BOOKING_STATUS.Cancel"></div>
        <div *ngIf="checkedCheckinDate == today"></div>
        <div *ngIf="booking?.bookingStatus != BOOKING_STATUS.Cancel">
          <div *ngIf="isCheckinStarted(checkedCheckinDate,booking?.boatDetail?.checkinTime)">
            <!-- <div *ngIf="checkedCheckinDate > today"> -->
              <div class="center-content">
                <a [routerLink]="['/boat-listing/reservation-cancellation',booking?.id]"
                  class="custom-btn btn-big outline-blue-clr me-sm-3 pe-2">{{'CancelReservation' | localization}}</a>
                <a [routerLink]="['/boat-listing/modify-reservation',booking?.id]"
                  class="custom-btn btn-big blue me-sm-3">{{'ModifyReservation' | localization}}</a>
              </div>
            <!-- </div> -->
          </div>
        </div>
         <!-- <div *ngIf="isCheckoutTimeEnd(booking.checkinDate,booking?.boatDetail?.checkoutTime)"> -->
        <a (click)="addReview()"
        *ngIf='!isPosted && isBookingPassed() && booking?.bookingStatus == BOOKING_STATUS.Approved'
        class="custom-btn btn-big blue">{{'AddReview' | localization}}</a>
      </div>
      <!-- </div> -->
      <app-list-reviews [bookingId]=bookingId></app-list-reviews>
    </div>
  </div>
</div>