<!-- custom table -->
<div class="custom-card custom-margin">
  <div class="row">
  <div class="col-sm-12">
    <h5 class="bold">{{'ApprovedContract' | localization}} </h5>
    </div>

  <div class="custom-table ">
  <table>
    <thead>
      <tr>
        <th>Contract</th>
        <th>Owner</th>
        <th>Creation Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>
  <div class="col-sm-12 text-right">
  <a  class="custom-btn underline-blue-link no-before-content" >See all</a>
  </div>
</div>
</div>
<!-- custom table -->
