@import '../../../shared/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
.Header-Image{
    position:relative;
    max-height: 200px;
    max-width:220px;
}
.btn-password{
    margin-top: 20px;
    text-align: center;
}
.margin-comp{
 margin-top: 100px;
}
.fv-plugins-message-container{
  color: #ff6b6b;
  font-size: 12px;
  padding-top: 5px;
  text-align: left;
}
button:disabled{
  opacity: 0.4;
  cursor: default;
}