

<div class="container col-6 col-lg-6 col-xxl-6 col-md-6 col-sm-12 col-xs-6 offset-3 margin-comp">
    <form class="form" [formGroup]="registrationForm" novalidate="novalidate" (ngSubmit)="submit()">
    <div>
        <div class="col-lg-6 offset-3">
            <img src="../../../../assets/images/bnb.png" class="Header-Image"/>
        </div>
        <!-- <h6 style="text-align: center;">Set Password</h6> -->
        <div>
            <label>Email</label>
            <input class="form-control" formControlName="Email" name="email" type="email" disabled placeholder="Enter Your Email"  />
        </div>
        <div>
              <div>
                  <label>Password</label>
                  <div class="input-group">
                    <input id="password-field" [attr.type]="passwordViewer.passwordFieldTextType ? 'text':'password'"
                    class="form-control" (change)="onPasswordChange()" name="password" formControlName="Password" >                    
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <span toggle="#password-field" (click)="toggleFieldTextType(true)"
                            class="fa fa-fw field-icon toggle-password" [ngClass]="{
                              'fa-eye-slash': !passwordViewer.passwordFieldTextType,
                              'fa-eye': passwordViewer.passwordFieldTextType
                            }"></span></div>
                      </div>
                </div>
                </div>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'pattern',
                    message: 'Invalid Password',
                    control: registrationForm.controls['Password']
                  }"></ng-container>
        </div>
        <div>
            <div>
                <label>Password</label>
                <div class="input-group">
                    <input id="password-fields"
                    [attr.type]="passwordViewer.confirmPasswordFieldTextType == true ? 'text':'password'"
                    class="form-control" name="confirmPassword" (change)="onPasswordChange()"
                    formControlName="confirmPassword" autocomplete="off">                  
                    <div class="input-group-prepend">
                      <div class="input-group-text"> <span toggle="#password-fields" (click)="toggleFieldTextType(false)"ss
                        class="fa fa-fw field-icon toggle-cnfrm-pswd" [ngClass]="{
                          'fa-eye-slash': !passwordViewer.confirmPasswordFieldTextType,
                          'fa-eye': passwordViewer.confirmPasswordFieldTextType
                        }"></span></div>
                    </div>
              </div>
              </div>
              <span class="text-danger"
                *ngIf="registrationForm.controls['confirmPassword'].hasError('mismatch')">Password do not match</span>
        </div>
        <div class="btn-password">
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="registrationForm.invalid">Set Password</button>
        </div>
    </div>
</form>
</div>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          {{ message }}
        </div>
      </div>
    </ng-container>
  </ng-template>