

<div class="container col-6 col-lg-6 col-xxl-6 col-md-6 col-sm-12 col-xs-6 offset-3">
    <form class="form" [formGroup]="registrationForm" novalidate="novalidate" (ngSubmit)="submit()">
    <div>
        <div class="col-lg-6 offset-3">
            <img src="../../../../assets/images/bnb.png" class="Header-Image"/>
        </div>
        <!-- <h6 style="text-align: center;">Set Password</h6> -->
        <div>
            <label>Email</label>
            <input class="form-control" formControlName="Email" name="email" type="email" f placeholder="Enter Your Email"  />
        </div>
        <div>
            <label>Password</label>
            <input class="form-control" type="password" name="password" formControlName="Password" placeholder="Enter Password"  />
        </div>
        <div>
            <label>Confirm Password</label>
            <input class="form-control" type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password"  />
        </div>
        <div class="btn-password">
            <button class="btn btn-primary btn-lg" type="submit">Set Password</button>
        </div>
    </div>
</form>
</div>