<div class="main-wrapper">
    <div class="reservation-page section-padding">
<div class="container">
    <div class="row">

    <div class="btn-back">
      <a (click)="goBack()" style="border: 1px solid #122ba8;">
        <i class="fas fa-chevron-left" style="color:#122ba8"></i>
      </a>
      <h2 class="bold">{{'CharterLocation' | localization }}</h2>
  </div>
        <div class="col-sm-6 ">
            <div class="custom-select-field py-2">
                <label>{{'Listing' | localization }}</label>
                <select name="select" id="select">
                  <option value="" selected disabled>{{charterDetails?.boat?.name}}</option>
                </select>
              </div>
              <div class="custom-input-field">
                <label>{{'DepartureFrom' | localization}}</label>
                <input type="text"
                ngx-google-places-autocomplete
                (onAddressChange)="handleCharterDepartFromAddressChange($event)"
                [(ngModel)]="charterLocation.departureFromlocation" class="custom-input" value="{{charterDetails?.departingFrom}}"
                placeholder="Search Location">
            </div>
              <div class="custom-input-field">
                  <label>{{'Destination' | localization}}</label>
                  <input type="text"
                  ngx-google-places-autocomplete
                  (onAddressChange)="handleCharterDestinationAddressChange($event)"
                  [(ngModel)]="charterLocation.destinationlocation" class="custom-input" value="{{charterDetails?.destination}}"
                  placeholder="Search Location">
              </div>
              <div class="custom-flex-end py-2">
                <button class="custom-btn grey" (click)="goBack()">{{'Cancel' | localization }}</button>
                  <button class="custom-btn blue ms-2" (click)="updateCharterLocation()">{{'Save' | localization }}</button>
              </div>
        </div>
        <div class="col-sm-6 py-2">
            <!-- <div class="iframe-wrapper radius-iframe">
                <google-map height="560px" width="600px" [options]="mapOptions" [center]="center" [zoom]="zoom">
                    <map-marker  [position]="locationMarker?.position"
                      [label]="locationMarker?.label" [title]="locationMarker?.title" [options]="locationMarker?.options">
                    </map-marker>
                  </google-map>
                </div> -->
                <div style="display: none">
                  <input
                    id="origin-input"
                    class="controls"
                    type="text"
                    placeholder="Enter an origin location"
                  />

                  <input
                    id="destination-input"
                    class="controls"
                    type="text"
                    placeholder="Enter a destination location"
                  />

                  <div id="mode-selector" class="controls">
                    <input
                      type="radio"
                      name="type"
                      id="changemode-walking"
                      checked="checked"
                    />
                    <label for="changemode-walking">Walking</label>

                    <input type="radio" name="type" id="changemode-transit" />
                    <label for="changemode-transit">Transit</label>

                    <input type="radio" name="type" id="changemode-driving" />
                    <label for="changemode-driving">Driving</label>
                  </div>
                </div>

                <div id="map"></div>
        </div>
    </div>
</div>
</div>
</div>