
<div class="loginContainer col-6 offset-5">
  <div style="margin-top: 230px;">
        <div style="justify-content: center;">
          <img class="mb-4" src="/assets/images/bnb.png" alt="" style="width:30%;height: 30%;max-height:100px;">
          <div>
            <button (click)="Login()" class="btn btn-lg btn-primary">Sign in</button>
          </div>
        </div>
  </div>
</div>
<!-- <div class="loginContainer col-6 offset-3">
  <div style="margin-top: 200px;">
    <form [formGroup]="LoginForm" (ngSubmit)="Login()">
      <div style="display: flex; justify-content: center;">
        <img class="mb-4" src="/assets/images/bnb.png" alt="" style="width:30%;height: 30%;max-height:100px;">
      </div>
  
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="email" name="email" formControlName="email" class="form-control" placeholder="Email address" required >
      </div>
  
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" formControlName="password" class="form-control" placeholder="Password" required >
      <a class="nav-link kpBlue" >Forgot Password?</a> 
      <button class="btn btn-lg btn-primary btn-block kpBtnBlue" type="submit">Sign in</button>
  
      <span> BNBYACHTS © 2022 <p class="center text-muted" style="margin-top:0rem !important">v1.0.111</p></span> 
    </form>
    </div>
  </div>
   -->