    <div class="modal-content">
        <div class="modal-body">
            <div class="custom-text-center">
                <div class="img-wrapper">
                    <img src="assets/images/password-updated.png" alt="">
                </div>
                <h4 class="bold">{{'PhoneNumberVerified' | localization}}</h4>
                <div class="bottom-btn py-2 pt-5">
                    <button class="custom-btn blue big-btn" (click)="openUploadPicture()">{{'Continue'|
                        localization}}</button>
                </div>
            </div>

        </div>
    </div>