<div class="modal-content">
    <div class="modal-header no-border">

    </div>
    <div class="modal-body">
        <div class="custom-text-center">
          <h4 class="bold">{{'ConfirmEmailAddress'|localization}}</h4>
          <p class="py-2">{{'ConfirmEmailAddressMessage'|localization}}</p>
          <div class="img-wrapper">
            <img src="../../../../../assets/images/email.png" alt="">
          </div>
          <div class="bottom-btn">
            <button class="custom-btn blue big-btn"  (click)="resendLink()">{{'ResendLink'|localization}}</button>
          </div>
        </div>
      </div>
