<div class="total-reviews section-padding">
    <div class="custom-flex-between">
 <div class=" custom-flex-start small-stars black-stars me-2"><span class="fa fa-star stars-clr me-2"></span> <p class="medium ">9 Reviews</p></div>
 <button (click)="addReview()" class="custom-btn outline-blue-clr">{{'AddReview' | localization}}</button>
 </div>
 <div class="image-with-text pt-5">
    <div class="image-with-text-inner">
        <img src="../../../../assets/images/user-img.png" alt="">
        <div class="user-details">
            <p class="medium">Elijah</p>
            <p class="small-stars">
                <span class="fa fa-star stars-clr "></span>
                <span class="fa fa-star stars-clr"></span>
                <span class="fa fa-star stars-clr"></span>
                <span class="fa fa-star stars-clr"></span>
                <span class="fa fa-star stars-clr"></span>
            </p>
        </div>
    </div>
    <p class="my-3 line-clamp-1">Short description about the  host Lorem ipsum dolor sit amet, consectetur adipiscing elitShort description about the </p>
    <p class="text-right grey">12 July 2021, 13:44</p>
</div>
<div class="image-with-text">
    <div class="image-with-text-inner">
        <img src="../../../../assets/images/user-img.png" alt="">
        <div class="user-details">
            <p class="medium">Elijah</p>
            <p class="small-stars">
                <span class="fa fa-star stars-clr "></span>
                <span class="fa fa-star stars-clr"></span>
                <span class="fa fa-star stars-clr"></span>
                <span class="fa fa-star stars-clr"></span>
                <span class="fa fa-star stars-clr"></span>
            </p>
        </div>
    </div>
    <p class="my-3 line-clamp-1">Short description about the  host Lorem ipsum dolor sit amet, consectetur adipiscing elitShort description about the </p>
    <p class="text-right grey">12 July 2021, 13:44</p>
</div>
</div>