.banner-wrapper{
    min-height: 725px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    @include custom-flex;
    .container{
        z-index: 2;
    }
    &.small-banner{
        min-height: 570px;
        @include breakpoint(laptop){
            min-height: 350px;
        }
    }
    @include breakpoint(laptop){
        min-height: 480px;
    }
    
    @include breakpoint(lg){
        min-height: 500px;
    }
    @include breakpoint(md){
        min-height: 500px;
    }
    @include breakpoint(sm){
        min-height: 400px;
    }
    @include breakpoint(mobile){
        min-height: 350px;
    }
    @include breakpoint(xs){
        min-height: 300px;
    }
    &.layer-bg{
        &::before{
            @include bg-layer-black;
         }
    }
   
}
.banner-image{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top:0;
        bottom:0;
        left: 0;
        right:0;
        background: rgba($color: $new-black-color, $alpha: 0.5);
        z-index: 1;
    }
    .bg-image-wrap{
        .custom-flex-start {
            h3{
                z-index: 2;
                position: relative;
            }
            p{
                z-index: 2;
                position: relative; 
            }
            
        }
      
    }
}