.underline-txt{
    position: relative;
    padding-bottom: 5px;
    font-weight: 700;
    color: $new-black-color;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 2px;
        background: $new-black-color;
        border-radius: 4px;
    }
}
.copy-right-wrap{
    @include breakpoint(xs){
        flex-direction: column;
    }
   
    .social-icons-ul{
        @include breakpoint(xs){
            padding:10px 0;
        }
        li{
            margin: 0 10px;
        }
    }
}
.blue-bg-img{
    width: 48px;
    height: 48px;
    border-radius: 5px;
    background-color: rgba($sky-clr,0.3);
    @include custom-flex;
    @include breakpoint(laptop){
        width: 32px;
        height: 32px;
    }
    img{
        max-width: 27px;
        @include breakpoint(laptop){
            max-width: 18px;
        }
    }
    svg{
        max-width: 27px;
        @include breakpoint(laptop){
            max-width: 18px;
        }
    }
}

.input-type-attachemement{
    label{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: relative;
        &::before{
            font-family: "Font Awesome 5 Free";
            content: "\f0c6";
            position: absolute;
            left: 6px;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            color: $grey-clr;
        }
        input{
            opacity: 0;
            width: 100%;
            height: 100%;
        }
        &:hover{
            cursor: pointer;
            
        }
    }
}

.icon-inside-it{
    width: 100%;
    position: relative;
    .custom-input{
        padding-right: 80px !important;
    }
    .btns-wrap-attachments{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include custom-flex;
        margin-right: 10px;
        .input-type-attachemement{
          
            label{
              margin: 0;
            }
        }
        .custom-btn{
            margin-right: 10px;
        }
        
    }
    
}
.image-wrapper-boat{
    img{
        max-width: 280px;
        max-height: 180px;
        border-radius: 6px;
    }
}
.circle-icon{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: $grey-new-color;
    @include custom-flex;
    margin-right: 10px;
    @include breakpoint(sm){
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }
    i{
        font-size: 12px;
        color: $white-color;
        @include breakpoint(sm){
            font-size: 8px;
        }
    }

}
