<nb-card>
    <nb-card-header>
     <span>Subscribed User</span>
     <span class="btn-floating"><button *ngIf="selectedRows?.length > 0" type="button" (click)="openLg(content)" class="btn btn-primary btn-sm" >Send NewsLetter</button></span>
      </nb-card-header>
    <nb-card-body>
      <ng2-smart-table class="order-table" [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)">
      </ng2-smart-table>
    </nb-card-body>
</nb-card>


<ng-template #content let-c="close" let-d="dismiss">    
  <div class="modal-header">    
      <h4 class="modal-title" id="modal-basic-title">News Letter</h4>    
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">    
          <span aria-hidden="true">x</span>    
      </button>    
  </div>    
  <div class="modal-body">    
    <form >
      <!-- [formGroup]="newsLetterForm" (ngSubmit)="onSubmit()" -->
      <div class="custom-modal-inner">  
        <div class="modal-content-inner-text">
          <div class="form-text-inner">
            <div>
                <div>
                  <label>News Letter</label>
                  <select class="form-control" >
                  <option [ngValue]="null" selected>Choose NewsLetter</option>
                  <option [ngValue]="item.id" *ngFor="let item of reasons">{{item.title}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="newsLetterForm.invalid">Submit</button>
              <button type="button" class="btn btn-light" (click)="resetForm()"  (click)="modal.dismiss('Cross click')">Close</button>
          </div> -->
        </div>
      </div>
    </form>  
  </div>    
  <div class="modal-footer">    
      <button type="button" class="btn btn-default" (click)="d('Cross click')">Cancel</button>    
      <button type="button" class="btn btn-primary" (click)="c('yes')">Send NewsLetter</button>    
  </div>    
</ng-template>   