 <div class="row pb-4">
   <div class="col-3">
    <div class="dropdown custom-dropdown dropdown-rounded">
      <button class="dropdown-toggle dropdownBTN btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          <span id="dropdown-align">
              {{selectedServiceType == 0 ? 'Boatels':selectedServiceType == 1? 'Charters':'Events'}}
          </span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
              <a class="dropdown-item" (click)="filterServiceType(RESERVATION_STATUS.Boatels)">Boatels</a>
          </li>
          <li>
              <a class="dropdown-item" (click)="filterServiceType(RESERVATION_STATUS.Charters)">Charters</a>
          </li>
          <li>
              <a class="dropdown-item" (click)="filterServiceType(RESERVATION_STATUS.Events)">Events</a>
          </li>
      </ul>
  </div>
   </div>
    <div class="col-3">
      <div class="dropdown custom-dropdown dropdown-rounded">
        <button class="dropdown-toggle dropdownBTN btn" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span id="dropdown-align">
            {{selectedStatusFilter == BOOKING_STATUS.Pending ? 'Pending':selectedStatusFilter == BOOKING_STATUS.Approved ? 'Approved'
            :selectedStatusFilter == BOOKING_STATUS.Rejected ? 'Rejected'
            :selectedStatusFilter ==BOOKING_STATUS.Cancel ? 'Cancel'
            :selectedStatusFilter == BOOKING_STATUS.ChooseFilter ? 'All':'Choose Status'}}
        </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item" (click)="selectReservationStatus(BOOKING_STATUS.ChooseFilter)">All</a>
          </li>
          <li >
            <a class="dropdown-item" (click)="selectReservationStatus(BOOKING_STATUS.Pending)">Pending</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="selectReservationStatus(BOOKING_STATUS.Approved)">Approved</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="selectReservationStatus(BOOKING_STATUS.Cancel)">Cancelled</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="selectReservationStatus(BOOKING_STATUS.Rejected)">Rejected</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-3">
      <div>
        <div class="dropdown custom-dropdown filters-wrap" ngbDropdown #myFilterDrop="ngbDropdown">
          <button class="dropdownBTN dropdown-btn dropdown-toggle" type="button" id="dropDownFilter2"
            ngbDropdownToggle  #selectedReservationTimeItem>

            <span id="dropdown-align">
              {{this.selectedTabStatus == BOOKING_FILTER.All ?
                'All':this.selectedTabStatus == BOOKING_FILTER.Upcomings ? 'Upcomings':this.selectedTabStatus ==
                BOOKING_FILTER.Past ? 'Past':'Choose Upcoming/Past'}}
          </span>
          </button>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropDownFilter2">
            <form>
              <div class="row p-4">
                <div class="col-12">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" [value]="0" id="allCharter"
                      [(ngModel)]="selectedTab" [ngModelOptions]="{standalone: true}" (click)="selectReservationTimeStatus(BOOKING_FILTER.All);myFilterDrop.close()">
                    <label for="allCharter">All</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" [value]="1" id="oneSide"
                      [(ngModel)]="selectedTab" [ngModelOptions]="{standalone: true}" (click)="selectReservationTimeStatus(BOOKING_FILTER.Upcomings);myFilterDrop.close()">
                    <label for="oneSide">Upcomings</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input type="radio" id="roundTrip" class="form-check-input" [value]="2"
                      [(ngModel)]="selectedTab" [ngModelOptions]="{standalone: true}" (click)="selectReservationTimeStatus(BOOKING_FILTER.Past);myFilterDrop.close()">
                    <label for="roundTrip">Past</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div>
        <div class="row">
          <div class="col">
            <div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block" container="body">
              <button class="dropdownBTN btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>
                {{selectedMonth || 'Month'}}-{{selectedYear || 'Year'}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                <ejs-calendar #ejCalendar [value]='dateValue' (change)="applyDateFilter($event);myDrop.close()"
                  start='Decade' depth='Year'></ejs-calendar>
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>