<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" >
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="d-lg-none d-md-block">
        <img src="assets\images\bnb.png" class="imageStyle">
      </div>
       <div class="navbar-toggle" style="padding-right:10px;">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div> 
      <div style="text-align:center;cursor: pointer; display:none;" >
      </div>
    </div>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
</div>
</nav>
<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="topNavBarCollapse">
      <ul class="navbar-nav container-fluid">
        <li class="col-6 col-md-auto listMargin">
          <div>
          </div>
        </li>
        <li class="nav-item btn-rotate dropdown col listNav" placement="bottom-left">
        </li>
        <li class="col-1">
          <a class="dropdown-toggle text-dark" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/images/users.png" class="rounded-circle z-depth-0 imageSize"
                 alt="avatar image">
            <span class="d-lg-none d-md-block userPadding">currentUser</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right col" aria-labelledby="dropdown04">
            <a class="nav-link text-dark textColor" (click)="logout()" > Logout </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
