<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="totalRecords" (pageChange)="onPageChange()" [(page)]="paginationParam.page"
        [pageSize]="paginationParam.pageSize">
    </ngb-pagination>
    <select class="custom-select" (change)="onPageSizeChange()" style="width: auto;border:1px solid #ccc"
        name="paginationParam.pageSize" [(ngModel)]="paginationParam.pageSize">
        <option [ngValue]="1">1 items per page</option>
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="50">50 items per page</option>
        <option [ngValue]="100">100 items per page</option>
    </select>
</div>