

   <ng-template #resetModal style="border-radius: 20px;">

    <div class="modal-content" style="padding-left:20px;padding-right:20px;border-radius: 20px;">
      <div class="modal-header no-border">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form [formGroup]="resetForm" (ngSubmit)="updated()"> 
            <div class="custom-text-center">
                  <h4 class="bold text-center">New password</h4>
                  <p class="py-2 text-center ">Must include at least one symbol or number and have at least  charcters</p>
                 
                <div class="custom-input-field pswd-field">
              
                      <label>New Password</label>
                      <div class="p-relative" >
                      <input id="password-field" type="password" class="custom-input" name="password" value="12345" data-toggle="tooltip" data-html="true" formControlName="password" title="Choosing a Password: <br/> Your Password Must Include:">
                      <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                      </div>
                </div>
              <div class="custom-input-field pswd-field error-msj">
                <label>Confirm Password</label>
                <div class="p-relative" >
                <input id="password-field" type="password" class="custom-input" name="password" value="12345" data-toggle="tooltip" data-html="true" formControlName="confirmPassword" title="Choosing a Password:Your Password Must Include:">
                <!-- <p class="small-txt-error">The Password entered don't matched.</p> -->
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
              </div>
               
              
              <div class="py-2 pt-4 text-center">
                <button class="custom-btn blue big-btn"  style="width: 55%;" data-bs-toggle="modal" data-bs-target="#change-pswd" [disabled]="!resetForm.valid" >Update</button>
              </div>
            
             </div>
         </form>
         

       
        
      </div>

    </div>
</ng-template>


   <ng-template #passwordChangedModal>
      <div class="modal-content">
        <div class="modal-header no-border">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="custom-text-center">
            <h4 class="bold text-center">Password Changed</h4>
           
            <div>
              <img src="assets/images/password-updated.png"  alt="">
            </div>
            <div class="bottom-btn vertical-center">
              <button class="custom-btn blue big-btn mt-3" data-bs-toggle="modal" data-bs-target="#login-modal" data-bs-dismiss="modal" (click)="login()">Login</button>
            </div>
          </div>
        </div>
       
      </div>
  </ng-template>



  <ng-template #InvalidUserModal>
    <div class="modal-content">
      <div class="modal-header no-border">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="custom-text-center">
          <h6 class="bold text-center">This User Doesn't Exist! </h6>
         
          <div>
            <img src="assets/images/cross-icon.png" class="bg-white" width="100px" height="100px"  alt="">
          </div>
         
          <div class="bottom-btn vertical-center">
            <button class="custom-btn blue big-btn mt-3" data-bs-toggle="modal" data-bs-target="#login-modal" data-bs-dismiss="modal" (click)="login()">Login</button>
          </div>
        </div>
      </div>
     
    </div>
</ng-template>