<div class="main-wrapper">
  <div class="reservation-page section-padding">
    <div class="container">
      <div class="">
        <h2 class="bold">Reservation </h2>
        <div class="custom-tabs-wrapper custom-margin">
          <div class="nav nav-pills custom-tabs-btns" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="underline-link-blk active" id="v-pills-home-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
              aria-selected="true">Reservation Requests</button>
            <button class="underline-link-blk" id="v-pills-profile-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
              aria-selected="false">Booked Services</button>
            <button class="underline-link-blk" id="v-pills-settings-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
              aria-selected="false">Contract</button>
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <div class="filter-wrap mb-3 custom-flex-start">
                <div class="dropdown custom-dropdown dropdown-rounded">
                  <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    July
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="javascript:void(0)">Setting</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)">Help</a></li>
                    <li><a class="dropdown-item" href="home.html">Log Out</a></li>
                  </ul>
                </div>
                <div class="dropdown custom-dropdown dropdown-rounded">
                  <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Listing
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li><a class="dropdown-item" href="javascript:void(0)">Setting</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)">Help</a></li>
                    <li><a class="dropdown-item" href="home.html">Log Out</a></li>

                  </ul>
                </div>
                <div class="dropdown custom-dropdown dropdown-rounded">
                  <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Contracts
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li><a class="dropdown-item" href="javascript:void(0)">Setting</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)">Help</a></li>
                    <li><a class="dropdown-item" href="home.html">Log Out</a></li>

                  </ul>
                </div>
              </div>
              <div class="custom-card req-user-card custom-margin" *ngFor="let item of boatelBookings;let i = index">
                <div class="image-with-text custom-flex-between align-items-start">
                  <div class="image-with-text-inner">
                    <img src="../../../../assets/images/user-img.png" alt="">
                    <div class="user-details">
                      <p class="medium">{{item.userName}}</p>
                        <p class="small-text grey ">{{item.boatDetail?.name}}</p>
                      <ngb-rating [rate]="0"></ngb-rating>
                      <p class="small-text grey ">Location : {{item.boatDetail?.location}}</p>
                      <p class="small-text grey ">Guest: {{item.noOfAdults + item.noOfChildrens}} </p>
                    </div>
                  </div>
                  <div class="right-content custom-flex flex-column align-items-end">
                    <p class="small-text grey">{{item.checkinDate | date:'dd MMM/YYYY'}} - {{item.checkoutDate |
                      date:'dd MMM/YYYY'}}</p>
                    <div class="custom-flex mt-4">
                      <button class="custom-btn grey" (click)="changeStatus(item,false,i)">Reject </button>
                      <button class="custom-btn blue ml-2" (click)="changeStatus(item,true,i)">Accept </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <div class="status-wrapper custom-flex-start pb-3">
                <button class="custom-btn blck-btn active">Pending</button>
                <button class="custom-btn blck-btn ms-3">Rejected</button>

              </div>
              <div class="filter-wrap mb-3 custom-flex-start">
                <div class="dropdown custom-dropdown dropdown-rounded">
                  <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    July
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li><a class="dropdown-item" href="javascript:void(0)">Setting</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)">Help</a></li>
                    <li><a class="dropdown-item" href="home.html">Log Out</a></li>

                  </ul>
                </div>
                <div class="dropdown custom-dropdown dropdown-rounded">
                  <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Listing
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li><a class="dropdown-item" href="javascript:void(0)">Setting</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)">Help</a></li>
                    <li><a class="dropdown-item" href="home.html">Log Out</a></li>

                  </ul>
                </div>
                <div class="dropdown custom-dropdown dropdown-rounded">
                  <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Service Type
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li><a class="dropdown-item" href="javascript:void(0)">Setting</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)">Help</a></li>
                    <li><a class="dropdown-item" href="home.html">Log Out</a></li>

                  </ul>
                </div>
              </div>
              <div class="custom-card req-user-card" *ngFor="let item of bookedServices;let i = index">
                <div class="image-with-text custom-flex-between align-items-start">
                  <div class="image-with-text-inner">
                    <img src="../../../../assets/images/user-img.png" alt="">
                    <div class="user-details">
                      <p class="medium">{{item.userName}} <span class="small-text regular grey">Boat Name:{{item.boatDetail?.name}} </span></p>
                      <p class="small-stars  grey-stars py-2">
                        <span class="fa fa-star stars-clr "></span>
                        <span class="fa fa-star stars-clr"></span>
                        <span class="fa fa-star stars-clr"></span>
                        <span class="fa fa-star stars-clr"></span>
                        <span class="fa fa-star stars-clr"></span>
                      </p>
                      <p class="small-text grey ">Location : {{item.boatDetail?.location}}</p>
                      <p class="small-text grey ">Guest: {{item.noOfAdults + item.noOfChildrens}}</p>

                    </div>
                  </div>
                  <div class="right-content custom-flex flex-column align-items-end">
                    <p class="small-text grey">{{item.checkinDate | date:'dd MMM/YYYY'}} - {{item.checkoutDate |
                      date:'dd MMM/YYYY'}}</p>
                    <div class="custom-flex mt-4">
                      <a [routerLink]="['/boat-listing/reservation-cancellation',item.id]" class="custom-btn blue">Modify Reservation</a>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <div class="status-wrapper custom-flex-start pb-3">
                <button class="custom-btn  blck-btn active">Pending</button>
                <button class="custom-btn blck-btn ms-3">Rejected</button>

              </div>
              <div class="filter-wrap mb-3 custom-flex-start">
                <div class="dropdown custom-dropdown dropdown-rounded">
                  <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    July
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li><a class="dropdown-item" href="javascript:void(0)">Setting</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)">Help</a></li>
                    <li><a class="dropdown-item" href="home.html">Log Out</a></li>

                  </ul>
                </div>
                <div class="dropdown custom-dropdown dropdown-rounded">
                  <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Listing
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li><a class="dropdown-item" href="javascript:void(0)">Setting</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)">Help</a></li>
                    <li><a class="dropdown-item" href="home.html">Log Out</a></li>

                  </ul>
                </div>
                <div class="dropdown custom-dropdown dropdown-rounded">
                  <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Service Type
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li><a class="dropdown-item" href="javascript:void(0)">Setting</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)">Help</a></li>
                    <li><a class="dropdown-item" href="home.html">Log Out</a></li>

                  </ul>
                </div>
              </div>
              <div class="custom-table ">
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Creation Date & Time</th>
                      <th>Service Type</th>
                      <th>Status</th>
                      <th>Quote Price</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>laew khalagh</td>
                      <td>12 July 2021, 13:44</td>
                      <td>$Charter</td>
                      <td>Pending</td>
                      <td>$$5000</td>

                    </tr>
                    <tr>
                      <td>laew khalagh</td>
                      <td>12 July 2021, 13:44</td>
                      <td>$Charter</td>
                      <td>Pending</td>
                      <td>$$5000</td>

                    </tr>
                    <tr>
                      <td>laew khalagh</td>
                      <td>12 July 2021, 13:44</td>
                      <td>$Charter</td>
                      <td>Pending</td>
                      <td>$$5000</td>

                    </tr>
                    <tr>
                      <td>laew khalagh</td>
                      <td>12 July 2021, 13:44</td>
                      <td>$Charter</td>
                      <td>Pending</td>
                      <td>$$5000</td>

                    </tr>
                    <tr>
                      <td>laew khalagh</td>
                      <td>12 July 2021, 13:44</td>
                      <td>$Charter</td>
                      <td>Pending</td>
                      <td>$$5000</td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="custom-pagination custom-flex-between section-padding">
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-lg">
                    <li class="page-item">
                      <a class="page-link" href="javascripy:void(0)" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-step-backward" aria-hidden="true"></i></span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascripy:void(0)" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascripy:void(0)">1</a></li>
                    <li class="page-item active"><a class="page-link" href="javascripy:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascripy:void(0)">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="javascripy:void(0)" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascripy:void(0)" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-step-forward" aria-hidden="true"></i></span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <div>
                  <p class="small-text"> Displaying 1 - 10 of 10 records</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>