<div class="main-wrapper">
  <div class="reservation-page section-padding">
    <div class="container">
      <div class="">
        <h2 class="bold">Reservation</h2>
        <div class="custom-tabs-wrapper custom-margin">
          <div class="nav nav-pills custom-tabs-btns" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="underline-link-blk active" id="v-pills-home-tab" data-bs-toggle="pill"
            (click)="currentTab = 1;"
              data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
              Reservation Requests
            </button>
            <button class="underline-link-blk" id="v-pills-profile-tab" data-bs-toggle="pill"
            (click)="currentTab = 2;"
              data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
              aria-selected="false">
              Booked Services
            </button>
            <button class="underline-link-blk" id="v-pills-dropped-services-tab" data-bs-toggle="pill"
            (click)="currentTab = 3;"
              data-bs-target="#v-pills-dropped-services" type="button" role="tab"
              aria-controls="v-pills-dropped-services" aria-selected="false">
              Dropped Services
            </button>
            <button class="underline-link-blk" id="v-pills-settings-tab" data-bs-toggle="pill"
            (click)="currentTab = 4;"
              data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
              aria-selected="false">
              Contract
            </button>
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane" [ngClass]="{'active': currentTab == 1}" *ngIf="currentTab == 1" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <app-booking-requests></app-booking-requests>
            </div>
            <div class="tab-pane" [ngClass]="{'active': currentTab == 2}" id="v-pills-profile" *ngIf="currentTab == 2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <app-booked-services></app-booked-services>
            </div>
            <div class="tab-pane" [ngClass]="{'active': currentTab == 3}" id="v-pills-dropped-services" *ngIf="currentTab == 3" role="tabpanel"
              aria-labelledby="v-pills-dropped-services-tab">
              <app-dropped-services></app-dropped-services>
            </div>
            <div class="tab-pane"  [ngClass]="{'active': currentTab == 4}" id="v-pills-settings" role="tabpanel" *ngIf="currentTab == 4" aria-labelledby="v-pills-settings-tab">
              <app-not-found-component></app-not-found-component>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>