<div class="modal-content">
    <div class="modal-header no-border">
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <div class="custom-text-center">
        <div class="upload-image-wrapper">
          <img src="../../../../../assets/images/lock.png" alt="">
        </div>
        <h4 class="bold">Forgot password</h4>
        <p class="py-2">Confirm your email and we'll send the instructions.</p>

        <div class="custom-input-field py-2 pt-4">
          <label>Email</label>
          <input type="email" class="custom-input" placeholder="abc@gmail.com">
        </div>


        <div class="py-2 pt-4">
          <button class="custom-btn blue big-btn" data-bs-toggle="modal" data-bs-target="#reset-pswd-modal"
            data-bs-dismiss="modal">Send</button>
        </div>

      </div>
    </div>