<div class="modal-content">
    <div class="modal-header no-border">
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <div class="custom-text-center">
        <div class="upload-image-wrapper">
        <img src="assets/images/lock.png" alt="">
        </div>
        <h4 class="bold">Forgot password</h4>
        <p class="py-2" *ngIf="!isEmailSending">Confirm your email and we'll send the instructions.</p>
        <p class="py-2 text-success" *ngIf="isEmailSending">We have send a password reset request email to your email address.You can Reset the password from there </p>
        
        <form [formGroup]="ForgetForm" (ngSubmit)="submit()">
        <div class="custom-input-field py-2 pt-4">
          <label>Email *</label>
          <input type="email" class="custom-input" placeholder="abc@gmail.com" formControlName="email">
          <!-- <div class="text text-danger" *ngIf="this.ForgetForm.controls.email.touched">
            <p class="text-danger" >* Email is Required !</p> 
            <div  *ngIf="this.ForgetForm.controls.email.errors?.required" >
            </div> -->
            
           
         <!-- </div> --> 
         <p class="py-2 text-danger" *ngIf="isInvalidUser" >* The Email Does not Exist!</p>
        </div>


        <div class="py-2 pt-4">
          <button  type="submit" class="custom-btn blue big-btn"  [disabled]="!this.ForgetForm.valid" data-bs-toggle="modal" data-bs-target="#reset-pswd-modal"
            data-bs-dismiss="modal">Send</button>
        </div>
        </form>

      </div>
    </div>

    <div class="modal fade custom-modal custom-small-modal" id="reset-pswd-modal" tabindex="-1" aria-labelledby="reset-pswd-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header no-border">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="custom-text-center">
           
            <h4 class="bold">New password</h4>
            <p class="py-2 ">Must include at least one symbol or number and have at least  charcters</p>
            
            <div class="custom-input-field pswd-field">
              <label>New Password</label>
              <div class="p-relative" >
              <input id="password-field" type="password" class="custom-input" name="password" value="12345" data-toggle="tooltip" data-html="true" title="Choosing a Password:
              <br/> Your Password Must Include:">
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              </div>
        </div>
        <div class="custom-input-field pswd-field error-msj">
          <label>Confirm Password</label>
          <div class="p-relative" >
          <input id="password-field" type="password" class="custom-input" name="password" value="12345" data-toggle="tooltip" data-html="true" title="Choosing a Password:Your Password Must Include:">
          <p class="small-txt-error">The Password entered don't matched.</p>
          <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
          </div>
    </div>
         
        
        <div class="py-2 pt-4">
          <button class="custom-btn blue big-btn" data-bs-toggle="modal" data-bs-target="#change-pswd"     data-bs-dismiss="modal">Update</button>
        </div>
      
          </div>
        </div>
       
      </div>
    </div>
  </div>