.search-wrapper{
    position: relative;
    input{
        border-radius: 30px !important;
        padding-right: 30px !important;
        color: $new-black-color  !important;
        background-color: #FCFCFC !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        padding: 11px 15px !important;
        padding-right: 32px !important;
        @include breakpoint(laptop){
            font-size: 14px !important;
            padding: 6px 15px !important ;
            padding-right: 32px !important;
        }
        &::placeholder{
            font-size: 16px !important;
            font-weight: 400 !important;
            color: $new-black-color !important;   
            @include breakpoint(laptop){
                font-size: 14px !important;
            }
        }
    }
    i{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: $new-black-color;
        font-size: 14px;
    }
}