<div class="filter-wrap mb-3 custom-flex-between">
    <app-booking-filter [serviceType]="listingFilter.selectedServiceType" (bookingType)="filterServiceType($event)" (reservationStatus)="selectedReservationStatus($event)" (reservationTimeStatus)="selectedReservationTime($event)" (DurationFilter)="selectedDuration($event)"></app-booking-filter>
</div>
<div *ngIf="listingFilter.selectedServiceType==bookedServicesTypes.boatel">
<div class="custom-card req-user-card custom-margin" *ngFor="let item of boatelBookings; let i = index">
    <div class="image-with-text custom-flex-between align-items-start" (click)="goToDetail(item)">
        <div class="image-with-text-inner">
            <img src="../../../../assets/images/user-img.png" alt="" />
            <div class="user-details info">
                <p class="medium">{{ item.userName }}</p>
                <p *ngIf="listingFilter.selectedServiceType == listingFilter.SELECTED_SERVICE_TYPE.Events">{{item?.event?.title}}</p>
                <p class="small-text grey">{{ item.boatDetail?.name }}</p>
                <ngb-rating [rate]="0"></ngb-rating>
                <p class="small-text grey">
                    Location : {{ item.boatDetail?.location }}
                </p>
                <p class="small-text grey">
                    Guest: {{ item.noOfAdults + item.noOfChildrens }}
                </p>
            </div>
        </div>
        <div class="
          right-content
          custom-flex
          flex-column
          align-items-end
        ">
            <p class="small-text grey">
                {{ item.checkinDate | date: "dd MMM/YYYY" }} -
                {{ item.checkoutDate | date: "dd MMM/YYYY" }}
            </p>
            <div class="custom-flex mt-4">
                <button class="custom-btn grey" (click)="changeStatus(item, false, i)">
                    {{'Reject' | localization}}
                </button>
                <button class="custom-btn blue ms-2" (click)="changeStatus(item, true, i)">
                    {{'Accept' | localization}}
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="boatelBookings?.length == 0">
    <app-not-found-component></app-not-found-component>
  </div>

  <div class="col-12 pt-2" *ngIf="boatelBookings?.length > 0">
    <app-pagination [totalRecords]="listingFilter.totalRecords" [paginationParam]="queryParams" (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"></app-pagination>
</div>
</div>
<div *ngIf="listingFilter.selectedServiceType==bookedServicesTypes.charter">
    <div class="custom-card req-user-card custom-margin" *ngFor="let item of userCharters; let i = index">
        <div class="image-with-text custom-flex-between align-items-start" (click)="goToDetail(item)">
            <div class="image-with-text-inner">
                <img src="../../../../assets/images/user-img.png" alt="" />
                <div class="user-details info">
                    <p class="medium">{{ item.userName }}</p>
                    <p *ngIf="listingFilter.selectedServiceType == listingFilter.SELECTED_SERVICE_TYPE.Events">{{item?.event?.title}}</p>
                    <p class="small-text grey">{{ item.boatDetail?.name }}</p>
                    <ngb-rating [rate]="0"></ngb-rating>
                    <p class="small-text grey">
                        Location : {{ item.boatDetail?.location }}
                    </p>
                    <p class="small-text grey">
                        Guest: {{ item.noOfAdults + item.noOfChildrens }}
                    </p>
                </div>
            </div>
            <div class="
              right-content
              custom-flex
              flex-column
              align-items-end
            ">
                <p class="small-text grey">
                    {{ item?.charterDetail?.departureFromDate | date: "dd MMM/YYYY" }} -
                    {{ item?.charterDetail?.departureToDate |  date: "dd MMM/YYYY" }}
                </p>
                <div class="custom-flex mt-4">
                    <button class="custom-btn grey" (click)="changeStatus(item, false, i)">
                        {{'Reject' | localization}}
                    </button>
                    <button class="custom-btn blue ms-2" (click)="changeStatus(item, true, i)">
                        {{'Accept' | localization}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="userCharters?.length == 0">
        <app-not-found-component></app-not-found-component>
      </div>

      <div class="col-12 pt-2" *ngIf="userCharters?.length > 0">
        <app-pagination [totalRecords]="listingFilter.totalRecords" [paginationParam]="queryParams" (pageChange)="onPageChange($event)"
            (pageSizeChange)="onPageSizeChange($event)"></app-pagination>
    </div>
    </div>
    <div *ngIf="listingFilter.selectedServiceType==bookedServicesTypes.event">
        <div class="custom-card req-user-card custom-margin" *ngFor="let item of userEvents; let i = index">
            <div class="image-with-text custom-flex-between align-items-start" (click)="goToDetail(item)">
                <div class="image-with-text-inner">
                    <img src="../../../../assets/images/user-img.png" alt="" />
                    <div class="user-details info">
                        <p class="medium">{{ item.userName }}</p>
                        <p *ngIf="listingFilter.selectedServiceType == listingFilter.SELECTED_SERVICE_TYPE.Events">{{item?.event?.title}}</p>
                        <p class="small-text grey">{{ item.boatDetail?.name }}</p>
                        <ngb-rating [rate]="0"></ngb-rating>
                        <p class="small-text grey">
                            Location : {{ item.boatDetail?.location }}
                        </p>
                        <p class="small-text grey">
                            Guest: {{ item.noOfAdults + item.noOfChildrens }}
                        </p>
                    </div>
                </div>
                <div class="
                  right-content
                  custom-flex
                  flex-column
                  align-items-end
                ">
                    <p class="small-text grey">
                        {{ item?.eventDetail?.startDateTime | date: "dd MMM/YYYY" }}
                    </p>
                    <div class="custom-flex mt-4">
                        <button class="custom-btn grey" (click)="changeStatus(item, false, i)">
                            {{'Reject' | localization}}
                        </button>
                        <button class="custom-btn blue ms-2" (click)="changeStatus(item, true, i)">
                            {{'Accept' | localization}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="userEvents?.length == 0">
            <app-not-found-component></app-not-found-component>
          </div>

          <div class="col-12 pt-2" *ngIf="userEvents?.length > 0">
            <app-pagination [totalRecords]="listingFilter.totalRecords" [paginationParam]="queryParams" (pageChange)="onPageChange($event)"
                (pageSizeChange)="onPageSizeChange($event)"></app-pagination>
        </div>
        </div>
