<div class="filter-wrap mb-3 custom-flex-start">
    <div class="calendar">
        <input type="month" [(ngModel)]="modelDate" (ngModelChange)="applyDateFilter()" id="start"
            placeholder="Year,Month" name="date">
    </div>
    <div class="dropdown custom-dropdown dropdown-rounded">
        <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{selectedServiceType == 1 ? 'Boatels':selectedServiceType == 2? 'Charters':'Events'}}
            <i class="fa fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" (click)="filterServiceType(1)">Boatels</a>
            </li>
            <li>
                <a class="dropdown-item" (click)="filterServiceType(2)">Charters</a>
            </li>
            <li>
                <a class="dropdown-item" (click)="filterServiceType(3)">Events</a>
            </li>
        </ul>
    </div>
</div>
<div class="custom-card req-user-card custom-margin" *ngFor="let item of boatelBookings; let i = index">
    <div class="image-with-text custom-flex-between align-items-start">
        <div class="image-with-text-inner">
            <img src="../../../../assets/images/user-img.png" alt="" />
            <div class="user-details" style="cursor: pointer;" [routerLink]="[
            '/boat-listing/reservation-detail/',
            item.id
          ]">
                <p class="medium">{{ item.userName }}</p>
                <p *ngIf="selectedServiceType == 3">{{item?.event?.title}}</p>
                <p class="small-text grey">{{ item.boatDetail?.name }}</p>
                <ngb-rating [rate]="0"></ngb-rating>
                <p class="small-text grey">
                    Location : {{ item.boatDetail?.location }}
                </p>
                <p class="small-text grey">
                    Guest: {{ item.noOfAdults + item.noOfChildrens }}
                </p>
            </div>
        </div>
        <div class="
          right-content
          custom-flex
          flex-column
          align-items-end
        ">
            <p class="small-text grey" *ngIf="selectedServiceType == 1">
                {{ item.checkinDate | date: "dd MMM/YYYY" }} -
                {{ item.checkoutDate | date: "dd MMM/YYYY" }}
            </p>
            <p class="small-text grey" *ngIf="selectedServiceType == 3">
                {{ item?.event?.startDateTime | date: "dd MMM/YYYY" }}
            </p>
            <p class="small-text grey" *ngIf="selectedServiceType == 2">
                {{ item?.charter?.departureFromDate | date }}
            </p>
            <div class="custom-flex mt-4">
                <button class="custom-btn grey" (click)="changeStatus(item, false, i)">
                    Reject
                </button>
                <button class="custom-btn blue ms-2" (click)="changeStatus(item, true, i)">
                    Accept
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="boatelBookings?.length == 0">
    <app-not-found-component></app-not-found-component>
  </div>

  <div class="col-12 pt-2" *ngIf="boatelBookings?.length > 0">
    <app-pagination [totalRecords]="totalRecords" [paginationParam]="queryParams" (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"></app-pagination>
</div>