<div class="filter-wrap mb-3 custom-flex-between">
    <div class="dropdown custom-dropdown dropdown-rounded">
        <button class="dropdown-toggle dropdownBTN btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span style="float: left;">
                {{selectedServiceType == 1 ? 'Boatels':selectedServiceType == 2? 'Charters':'Events'}}
            </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" (click)="filterServiceType(1)">Boatels</a>
            </li>
            <li>
                <a class="dropdown-item" (click)="filterServiceType(2)">Charters</a>
            </li>
            <li>
                <a class="dropdown-item" (click)="filterServiceType(3)">Events</a>
            </li>
        </ul>
    </div>
    <div>
        <!-- <input type="month" [(ngModel)]="modelDate" (ngModelChange)="applyDateFilter()" id="start" -->
            <div class="">
                <div class="row">
                  <div class="col">
                    <div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block" container="body">
                      <button class="dropdownBTN btn" id="dropdownForm1" ngbDropdownToggle>
                          <span style="float: left;">
                            {{selectedMonth || 'Month'}}-{{selectedYear || 'Year'}}
                          </span>
                        </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                        <ejs-calendar #ejCalendar [value]='modelDate'
                        (change)="applyDateFilter($event);myDrop.close()"
                        start='Decade' depth='Year'></ejs-calendar>
                        <div class="dropdown-divider"></div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
    </div>
</div>
<div class="custom-card req-user-card custom-margin" *ngFor="let item of boatelBookings; let i = index">
    <div class="image-with-text custom-flex-between align-items-start">
        <div class="image-with-text-inner">
            <img src="../../../../assets/images/user-img.png" alt="" />
            <div class="user-details" id="userDetail"  (click)="goToDetail(item)">
                <p class="medium">{{ item.userName }}</p>
                <p *ngIf="selectedServiceType == 3">{{item?.event?.title}}</p>
                <p class="small-text grey">{{ item.boatDetail?.name }}</p>
                <ngb-rating [rate]="0"></ngb-rating>
                <p class="small-text grey">
                    Location : {{ item.boatDetail?.location }}
                </p>
                <p class="small-text grey">
                    Guest: {{ item.noOfAdults + item.noOfChildrens }}
                </p>
            </div>
        </div>
        <div class="
          right-content
          custom-flex
          flex-column
          align-items-end
        ">
            <p class="small-text grey" *ngIf="selectedServiceType == 1">
                {{ item.checkinDate | date: "dd MMM/YYYY" }} -
                {{ item.checkoutDate | date: "dd MMM/YYYY" }}
            </p>
            <p class="small-text grey" *ngIf="selectedServiceType == 3">
                {{ item?.event?.startDateTime | date: "dd MMM/YYYY" }} -
                {{ item?.event?.endDateTime | date: "dd MMM/YYYY" }}
            </p>
            <p class="small-text grey" *ngIf="selectedServiceType == 2">
                {{ item?.charter?.departureFromDate | date: "dd MMM/YYYY" }} -
                {{ item?.charter?.departureToDate |  date: "dd MMM/YYYY" }}
            </p>
            <div class="custom-flex mt-4">
                <button class="custom-btn grey" (click)="changeStatus(item, false, i)">
                    Reject
                </button>
                <button class="custom-btn blue ms-2" (click)="changeStatus(item, true, i)">
                    Accept
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="boatelBookings?.length == 0">
    <app-not-found-component></app-not-found-component>
  </div>

  <div class="col-12 pt-2" *ngIf="boatelBookings?.length > 0">
    <app-pagination [totalRecords]="totalRecords" [paginationParam]="queryParams" (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"></app-pagination>
</div>