<div class="main-wrapper">
    <div class="section-padding user-info-page">
    <div class="container">
       <div class="row">
           <div class="col-lg-3 col-md-4 py-2">
               <div class="custom-card user-info-wrap">
                <div class="image-with-text">
                    <div class="image-with-text">
                        <form [formGroup]="uploadPictureForm">
                        <div class="avatar-upload-outer edit-avatar-page">
                            <div class="avatar-upload">
                              <div class="avatar-preview">
                                <div id="imagePreview" [ngStyle]="{ 'background-image': 'url(' + assetsUrlProfile+(userResponse?.imagePath!=null?userResponse?.imagePath:USER_DEFAULTS.avatar)+ ')'}">
                                    <img [src]="imageSrc" class="previewDimention" >
                                </div>
                              </div>
                              <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" name="profile"  (change)="onFileChange($event)"/>
                                <label for="imageUpload" class="custom-btn blue big-btn"><i class="fa fa-edit"></i></label>
                              </div>
                            </div>

                          </div>
                        </form>
                      <p class="medium text-center py-2">{{'Updateprofilephoto' | localization}}</p>
                      <h6 class="bold text-center p-0 pb-3">{{userResponse?.name}}</h6>
                    </div>
                </div>

                <div class="border-top"></div>
                <div class="py-2">
                    <p class="medium text-center">{{'VerificationStatus' | localization}}</p>
                    <p class="medium text-center py-2" *ngIf="userResponse?.isPhoneConfirmed==false">
                        <i class="fa fa-times pe-2"> {{'UnVerified'|localization}}</i><br><br>
                        <button class="custom-btn blue big-btn" (click)="verifyPhoneNumber()">{{'VerifyPhoneNumber' | localization}}</button>
                    </p>
                   <p class="medium text-center py-2" *ngIf="userResponse?.isPhoneConfirmed==true"><i class="fa fa-check pe-2"></i> {{'Verified' | localization}}</p>
                   <p class="medium text-center py-2" *ngIf="userResponse?.isPhoneConfirmed==true"><i class="pe-2"></i>{{userResponse?.phoneNumber}}</p>
                </div>
               </div>
           </div>
           <div class="col-lg-9 col-md-8 py-2">
               <div class="user-details-info-wrapper">
                   <div class="custom-flex-between align-items-start">
                       <div class="user-details-info-wrapper-inner">
                           <p class="bold">{{userResponse?.name}}</p>
                           <p class="grey py-2">{{userResponse?.creationTime | date}}</p>
                        </div>
                        <div class="edit-btn-wrapper">
                            <a [routerLink]="['/update-profile',userResponse?.id]" class="custom-btn grey"><i class="fa fa-pencil me-2"></i>Edit Profile</a>
                        </div>
                   </div>
                   <div class="py-2">
                       <p class="bold">About</p>
                       <p class="regular py-2 medium-container line-clamp-3 text-left grey">{{userResponse?.about}}.</p>
                   </div>
                   <div class="py-2">
                       <p class="medium"><i class="fa fa-map-pin me-3"></i>Lives in Lahore</p>
                   </div>
                   <div class="py-2" *ngIf="loggedInUserRole == USER_ROLE.host">
                        <p class="bold pb-2">My Listing</p>
                        <div class="boat-container" *ngFor="let item of userBoats">
                            <div class="image-wrapper-boat"  *ngFor="let item of (item.boatGalleries | filterBy : 'isCoverPic' : true)">
                                <img  src="{{assetsUrl + item?.imagePath}}" alt="">
                            </div>
                           <div class="custom-flex-start py-1"> <p class="bold ">New</p> <div class="small-stars yellow-stars ms-2"><span class="fa fa-star stars-clr"></span></div></div>
                            <p class="regular grey">{{item.name}}</p>
                        </div>

                   </div>
               </div>
               <div class="total-reviews section-padding">
                    <div class="custom-tabs-wrapper py-3">
                            <div  *ngIf="loggedInUserRole == USER_ROLE.host">
                                <div class=" custom-flex-start small-stars black-stars me-2 review-margin"><span class="fa fa-star stars-clr me-2"></span> <p class="medium ">{{userReview?.length}} Reviews</p></div>
                                <p><b>All Reviews</b></p> <hr>
                              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <div class="image-with-text" *ngFor="let user of userReview">
                                    <div class="image-with-text-inner">
                                        <img src="{{assetsUrlProfile + (user?.userDetails?.imagePath || USER_DEFAULTS.avatar)}}" alt="">
                                        <div class="user-details">
                                            <p class="medium">{{user?.userDetails?.name}}</p>
                                            <p class="small-stars">
                                                <ngb-rating [rate]="user.ratings" [max]="5" [readonly]="true"></ngb-rating>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="my-3 line-clamp-1">{{user?.reviewDescription}}</p>
                                    <p class="text-right grey">{{user?.creationTime | date}}</p>
                                </div>
    
                              </div>
                            </div>
                          <div  *ngIf="loggedInUserRole == USER_ROLE.user">
                            <div class=" custom-flex-start small-stars black-stars me-2 review-margin"><span class="fa fa-star stars-clr me-2"></span> <p class="medium ">{{hostReviews?.length}} Reviews</p></div>
                            <h6>All Reviews</h6> <hr>
                            <div class="image-with-text" *ngFor="let host of hostReviews">
                                <div class="image-with-text-inner">
                                    <img src="{{assetsUrlProfile + (host?.userDetails?.imagePath || USER_DEFAULTS.avatar)}}" alt="">
                                    <div class="user-details">
                                        <p class="medium">{{host?.userDetails?.name}}</p>
                                        <p class="small-stars">
                                            <ngb-rating [rate]="host.ratings" [max]="5" [readonly]="true"></ngb-rating>
                                        </p>
                                    </div>
                                </div>
                                <p class="my-3 line-clamp-1">{{host?.reviewDescription}}</p>
                                <p class="text-right grey">{{host?.creationTime | date}}</p>
                            </div>
                          </div>
                      </div>
               </div>
            </div>
       </div>
    </div>
    </div>
</div>
